@import "../variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //border: 1px solid red;
  }body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background-color: black;
  }
  .content{
    margin-top: 100px;
    height: 100vh;
      width: 100vw;
      padding: 4rem;
      display: flex;
      flex-direction: column;
      align-content: center;
  }
  main {
    background-image: url("../landing/background.png");
    background-position: center 0%;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
    place-items: center;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 10rem;
    z-index: 2;
    transition: transform 500ms cubic-bezier(.13,.53,.38,.97);
  }
  .hero {
    padding-top: 6vh;
    background-color: grey;
    .titleH {
      font-size: $title;
      font-weight: 700;
      text-align: center;
      padding: clamp(4rem, 10vw, 6rem) 0;
    }
  }
  .main {
    background-color: gainsboro;
    font-size: $body;
    font-weight: bold;
    padding: 2rem;
    .section{
      font-size: $subtitle;
    margin: 2rem;
    line-height: 2rem;
    li {
      margin-left: 2rem;
    }
    }
  }
  @media (max-width:800px) {
    .content{
      padding: 2rem;
      padding-top: 4rem;
    }
    @media (max-width:480px) {
      .content{
        padding: .5rem;
        padding-top: 4rem;
      }
      .section {
        font-size: 12px;
      }
    }
  }
  