@import "../variables";
@import "../navbar";
@import "../footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  // border: 1px solid red;
}

.landing {
  background-image: url("sponsor-us/main-background.webp");
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  background-color: $background;
  background-blend-mode: soft-light;

  .hero {
    padding-top: 6vh;

    .title {
      color: $primary;
      font-size: $title;
      font-weight: 700;
      text-align: center;
      padding: clamp(4rem, 10vw, 6rem) 0;
    }

    .donateHeader {
      display: block;
      font-weight: 300;
      font-size: $subheader;
      color: $primary;
      text-decoration: none;
      background-color: $decoration;
      padding: 1.5vh 1.5vw;
      border-radius: 6px;
      text-transform: uppercase;
      margin: 0 auto;
      text-align: center;
      width: 200px;
      position: relative;
      bottom: 4vh;

      &::after {
        display: none;
      }

      &:hover {
        box-shadow: 0px 2px 10px 1px $decoration;
      }
    }
  }
}

.main {
  width: clamp(40rem, 85vw, 50rem);
  margin: 4rem auto;
  font-size: $subtitle;
  color: $secondary;
  font-weight: 300;
  line-height: 2rem;

  .section {
    margin: 2rem;
    li {
      margin-left: 2rem;
    }
  }
}
@media (max-width: 720px) {
  .main {
    width: 400px;
  }
}

@media (max-width: 480px) {
  .landing {
    background-attachment: scroll;

    .hero {
      .content {
        flex-direction: column;
        margin: -4rem 0 0 0;

        i {
          margin-top: 2rem;
        }
      }
    }
  }

  .main {
    width: 300px;
  }
}
