@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
.navbar {
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.navbar .icons {
  display: flex;
  gap: 2vw;
}
.navbar .icons i {
  font-size: 32px;
  color: white;
  transition: transform 100ms ease-in, color 100ms ease-in;
}
.navbar .icons i:hover {
  transform: translateY(-2px) scale(1.05);
  color: rgb(250, 200, 0);
}
.navbar .icons a img {
  height: 88px;
  width: auto;
  margin: 3px 2vw 0 0;
}
.navbar .icons a .home:hover {
  border: 1px solid white;
}
.navbar .icons a .invert {
  filter: invert(1);
}
.navbar .icons a .invert:hover {
  border: 1px solid black;
}
.navbar .nav-menu {
  display: flex;
  gap: 2vw;
  align-items: center;
  text-align: center;
}
.navbar .nav-menu .nav-item {
  text-decoration: none;
  position: relative;
  color: white;
  font-size: 24px;
  font-weight: 300;
}
.navbar .nav-menu .nav-item::after {
  content: "";
  width: 0%;
  height: 1px;
  transition: width 200ms ease-in;
  background-color: white;
  position: absolute;
  top: 31px;
  left: 1px;
}
.navbar .nav-menu .nav-item:hover::after {
  width: 100%;
}
.navbar .nav-menu #donate {
  background-color: rgb(250, 200, 0);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-transform: uppercase;
}
.navbar .nav-menu #donate::after {
  display: none;
}
.navbar .nav-menu #donate:hover {
  box-shadow: 0px 2px 10px 1px rgb(250, 200, 0);
}
.navbar .hamburger {
  display: none;
}
.navbar .hamburger .bar {
  display: block;
  width: 50px;
  height: 6px;
  margin: 10px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 0 8vw;
  }
  .navbar .nav-menu {
    position: fixed;
    right: -100%;
    top: 95px;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .navbar .nav-menu .nav-item {
    padding: 1rem 8vw;
  }
  .navbar .nav-menu .nav-item::after {
    display: none;
  }
  .navbar .nav-menu .nav-item:hover {
    font-weight: 600;
  }
  .navbar .nav-menu #donate {
    padding: 1rem 0;
    width: 100%;
    border-radius: 0;
    background-color: rgba(250, 200, 0, 0.8);
  }
  .navbar .nav-menu #donate:hover {
    box-shadow: 0px 2px 10px 1px rgba(250, 200, 0, 0.8);
  }
  .navbar .nav-menu.active {
    right: 0;
  }
  .navbar .hamburger {
    display: block;
    cursor: pointer;
  }
  .navbar .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .navbar .hamburger.active .bar:nth-child(1) {
    transform: translateY(16px) rotate(45deg);
  }
  .navbar .hamburger.active .bar:nth-child(3) {
    transform: translateY(-16px) rotate(-45deg);
  }
}
.footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  padding: 2rem 1rem;
  background-color: rgb(60, 72, 88);
  color: white;
  font-size: 18px;
  margin-top: 2vw;
}
.footer .title {
  text-transform: uppercase;
  font-weight: 700;
}
.footer .content {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.footer .content a {
  color: white;
  font-size: 48px;
}
.footer .content a i {
  transition: transform 100ms ease-in, color 100ms ease-in;
}
.footer .content a i:hover {
  transform: translateY(-2px) scale(1.15);
  color: rgb(250, 200, 0);
}
.footer .copywrite {
  margin-top: 1rem;
  font-size: 16px;
}
.footer .copywrite .name {
  box-shadow: inset 0 -0.125rem 0 rgb(250, 200, 0);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  color: rgb(250, 200, 0);
  text-decoration: none;
  display: inline-block;
}
.footer .copywrite .name:hover {
  background-color: rgb(250, 200, 0);
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.landing {
  background-image: url("main-background.webp");
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: soft-light;
}
.landing .hero {
  padding-top: 6vh;
}
.landing .hero .title {
  color: white;
  font-size: clamp(2.5rem, 8vw, 4rem);
  font-weight: 700;
  text-align: center;
  padding: clamp(4rem, 10vw, 6rem) 0;
}
.landing .hero .donateHeader {
  display: block;
  font-weight: 300;
  font-size: 24px;
  color: white;
  text-decoration: none;
  background-color: rgb(250, 200, 0);
  padding: 1.5vh 1.5vw;
  border-radius: 6px;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  width: 200px;
  position: relative;
  bottom: 4vh;
}
.landing .hero .donateHeader::after {
  display: none;
}
.landing .hero .donateHeader:hover {
  box-shadow: 0px 2px 10px 1px rgb(250, 200, 0);
}

.main {
  width: clamp(40rem, 85vw, 50rem);
  margin: 4rem auto;
  font-size: clamp(16px, 3vw, 18px);
  color: rgb(60, 72, 88);
  font-weight: 300;
  line-height: 2rem;
}
.main .section {
  margin: 2rem;
}
.main .section li {
  margin-left: 2rem;
}

@media (max-width: 720px) {
  .main {
    width: 400px;
  }
}
@media (max-width: 480px) {
  .landing {
    background-attachment: scroll;
  }
  .landing .hero .content {
    flex-direction: column;
    margin: -4rem 0 0 0;
  }
  .landing .hero .content i {
    margin-top: 2rem;
  }
  .main {
    width: 300px;
  }
}/*# sourceMappingURL=sponsor-us.css.map */