@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.landing-section {
  background-image: url("/images/landing-background.jpeg");
  background-position: center;
  background-size: cover;
  background-color: hsla(0deg, 0%, 0%, 0.6);
  background-blend-mode: soft-light;
  background-attachment: fixed;
  height: 80vh;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding: 1em 3em;
  margin: 0 auto;
  width: min(1600px, 100%);
  color: white;
}
.nav .nav-title {
  font-size: 1.2rem;
  margin-right: auto;
  font-weight: 300;
  padding: 1em 0;
}
.nav .dropdown {
  position: relative;
}
.nav .dropdown .menu-button {
  padding: 1em;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav .dropdown .menu-button i {
  font-size: 10px;
}
.nav .dropdown .menu-button button {
  background-color: transparent;
  color: white;
  border: none;
}
.nav .dropdown .dropdown-menu {
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  background-color: white;
  text-align: center;
  box-shadow: 0px 2px 5px 2px hsla(0deg, 0%, 0%, 0.1);
  transform: translateY(-10px);
}
.nav .dropdown .dropdown-menu a {
  color: black;
  text-decoration: none;
  padding: 1em;
  font-size: 0.7rem;
  transition: color 150ms ease-in;
}
.nav .dropdown .dropdown-menu a:hover {
  color: #ffba07;
}
.nav .nav-sign-up a {
  text-decoration: none;
  background-color: #ffba07;
  padding: 1em 2em;
  color: white;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.8rem;
  transition: box-shadow 100ms ease-in;
}
.nav .nav-sign-up a:hover {
  box-shadow: 0px 2px 10px 0px #ffba07;
}
.nav .bars {
  color: #ffba07;
  display: none;
  font-size: 1.6rem;
}
.nav .bars:hover {
  cursor: pointer;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: auto;
}

.hero {
  width: min(1200px, 80%);
  margin: 0 auto;
  margin-top: 15vh;
  font-weight: bold;
  color: white;
}
.hero .hero-title {
  font-size: clamp(1rem, 10vw, 4.3rem);
  text-align: center;
}
.hero .hero-typed-title {
  text-align: center;
  margin: 0 auto;
  font-weight: 400;
  margin-top: 3rem;
  width: min(500px, 80%);
  font-family: "Roboto Slab", serif;
}

.first-robotics-section {
  text-align: center;
  margin: 8rem auto;
  width: min(1200px, 80%);
}
.first-robotics-section .title {
  font-size: 37px;
  margin-bottom: 1.7rem;
  font-weight: 700;
  color: rgb(60, 72, 88);
  font-family: "Roboto Slab", serif;
}
.first-robotics-section .title-desc {
  font-size: 18px;
  margin: 0 auto;
  margin-bottom: 7rem;
  color: rgb(153, 153, 153);
  max-width: 70ch;
  font-weight: 300;
}
.first-robotics-section .content-sections {
  display: flex;
  gap: 5rem;
  justify-content: space-between;
}
.first-robotics-section .content-sections .gear-section {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.first-robotics-section .content-sections .gear-section .gear-section-name {
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
}
.first-robotics-section .content-sections .gear-section .gear-section-desc {
  font-size: 1rem;
  max-width: 40ch;
  margin: 0 auto;
  font-weight: 300;
  color: rgb(153, 153, 153);
}
.first-robotics-section .content-sections .gear-section i {
  font-size: 61px;
  color: #ffba07;
  transition: transform 200ms ease-in, color 200ms ease-in;
}
.first-robotics-section .content-sections .gear-section i:hover {
  transform: translateY(-7px) scale(1.1);
  color: hsl(43deg, 100%, 75%);
}

@media (max-width: 770px) {
  .nav .dropdown {
    display: none;
  }
  .nav .nav-sign-up {
    display: none;
  }
  .nav .bars {
    display: block;
  }
  .content-sections {
    flex-direction: column;
    gap: 4rem;
  }
}/*# sourceMappingURL=styles.css.map */