@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: white;
  --background: grey;
  --nav-bar: rgba(0, 0, 0, 0.8);
  --decoration: #ebaf2d;
  --main-text: rgb(70, 70, 70);
  --sub-text: rgb(125, 125, 125);
}

body {
  background-color: var(--background);
}

.hero {
  color: var(--primary);
  font-family: "DM Sans", sans-serif;
}

.main-background {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("main-background.jpg");
  background-size: cover;
}

.team-135-background {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("team-135-background.jpg");
  background-size: cover;
}

.nav-bar {
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  gap: 15rem;
  padding: 1rem;

  background-color: var(--nav-bar);
}

.nav-bar ul {
  display: flex;
  list-style: none;
  gap: 2rem;

  font-size: 0.8rem;
}

.mini-title::before {
  position: absolute;
  top: -5px;
  right: 0;

  height: 3px;
  width: 0%;

  background-color: var(--primary);
  content: "";
  transition: width 300ms ease-in;
}

.mini-title {
  position: relative;

  color: var(--primary);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.mini-title::after {
  position: absolute;
  bottom: -5px;
  left: 0;

  height: 3px;
  width: 0%;

  background-color: var(--primary);
  content: "";
  transition: width 300ms ease-in;
}

.mini-title:hover::before {
  right: 0%;

  width: 100%;
}

.mini-title:hover {
  cursor: default;
}

.mini-title:hover::after {
  width: 100%;
}

.nav-bar ul a {  
  text-decoration: none;
  text-transform: uppercase;
  color: var(--primary);
  font-weight: bold;
  position: relative;
}

.nav-bar ul a::after {
  position: absolute;
  bottom: -5px;
  left: 0;

  width: 0%;
  height: 2px;

  background: var(--primary);
  content: "";
  transition: width 300ms ease-in;
}

.nav-bar ul a:hover::after {
  width: 100%;
}

.hero-title {
  padding: 9rem 15rem;
  
  font-size: 1.5rem;
}

.hero-title h1 {
  margin-bottom: 3rem;

  font-size: 5rem;
  line-height: 3rem;
  text-shadow: 0px 0px 3px;
}

.hero-title p {
  margin-bottom: 4rem;
}

.hero-title a {
  padding: 1em 2em;
  border-radius: 5px;

  background-color: var(--decoration);
  color: var(--primary);
  opacity: 70%;
  font-size: 0.9rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity 300ms ease-in-out;
}

.hero-title a:hover {
  opacity: 100%;
}

.box {
  z-index: 1;

  padding: 6rem;
  margin: 0 3rem;
  margin-bottom: 3rem;
  margin-top: -3rem;
  border-radius: 10px;

  background-color: var(--primary);
  font-family: "Roboto Slab", serif;
}

.box-header {
  color: var(--main-text);
  text-align: center;
}

.box-header h1 {
  font-size: 3rem;
  line-height: 6rem;
  font-weight: 700;
}

.box-header p {
  margin-bottom: 6rem;
  
  color: var(--secondary-text);
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: lighter;
}

.box-header i {
  color: var(--decoration);
  font-size: 4rem;
  transition: transform 200ms ease-in, opacity 200ms ease-in;
}

.box-header i:hover {
  transform: translateY(-5px);
  opacity: 75%;
}

.gears {
  display: flex;
  justify-content: space-evenly;
}

/* @media (max-width: 800px) {
  .nav-bar {
    flex-direction: column;
    gap: 2rem;
  }

  .hero-title {
    padding: 0;
    padding-top: 8em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-title h1 {
    line-height: 5rem;
  }

  .hero-title p {
    padding: 0 2em;
  }

  .hero {
    padding-bottom: 10rem;
  }

  br {
    content: " ";
  }

  .nav-bar ul {
    display: none;
  }
} */