@import "../variables";
@import "../navbar";
@import "../footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  // border: 1px solid red;
}

.landing {
  background-image: url("/team-135/media/team-135-background.webp");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: hsla(0, 0%, 0%, 0.5);
  background-blend-mode: soft-light;
  min-height: 90vh;

  .hero {
    font-weight: 700;
    color: $primary;
    text-align: center;

    .title {
      padding-top: 36vh;
      font-size: $cover;
    }

    .typed-title {
      margin-top: 1vh;
      font-weight: 400;
      font-size: $subtitle;
    }

    .back {
      border-radius: 1vw;
      font-weight: 400;
      font-size: clamp(16px, 3vw, $subheader);
      margin-top: 16vh;

      a {
        background-color: $decoration;
        text-transform: uppercase;
        text-decoration: none;
        color: $primary;
        padding: 2vw;

        &:hover {
          box-shadow: 0px 2px 10px 1px $decoration;
        }
      }
    }
  }
}

.main {
  text-align: center;
  padding: 2vw;
  color: $secondary;

  .title {
    font-size: $title;
    font-weight: 700;
    margin-bottom: 4vh;
    color: $secondary;
  }

  .content {
    display: flex;
    justify-content: space-evenly;

    i {
      font-size: 100px;
      color: $decoration;
      transition: transform 200ms ease-in, color 200ms ease-in;

      &:hover {
        transform: translateY(-7px) scale(1.1);
        color: hsl(43, 100%, 75%);
      }
    }

    h3 {
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: $subheader;
    }

    p {
      line-height: 1.5rem;
      font-size: $body;
      max-width: 50ch;
      margin: 0 auto;
      font-weight: 300;
      color: $tertiary;
    }
  }
}

.current-events {
  color: $secondary;
  background-color: $primary;
  text-align: center;
  padding-top: 2vw;

  .title {
    font-size: $title;
    font-weight: 700;
  }

  .videos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;

    .video {
      .subtitle {
        font-size: $subtitle;
        color: $tertiary;
        font-weight: 400;
        margin-bottom: 0.5vw;
      }

      iframe {
        width: 42.6667vw;
        height: 24vw;
      }
    }
  }
}

.contact-us {
  text-align: center;
  padding: 2vw 0;
  color: $secondary;

  .title {
    font-size: $title;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  .subtitle {
    font-size: $subtitle;
    margin-bottom: 3vw;
    color: $tertiary;
  }

  .content {
    display: flex;
    justify-content: center;
    gap: 10vw;

    img {
      max-width: 100%;
      height: auto;
      width: 250px;
      border-radius: 125px;
      margin-bottom: 1vw;
    }

    h1 {
      font-size: $subheader;
      font-weight: 700;
      color: $secondary;
    }

    h2 {
      font-size: $subtitle;
      font-weight: 400;
      color: $secondary;
    }

    h3 {
      font-size: $body;
      font-weight: 300;
      color: $tertiary;
    }
  }
}

@media (max-width: 720px) {
  .landing {
    min-height: 80vh;
  }

  .current-events {
    .videos {
      flex-direction: column;

      .video {
        iframe {
          width: 64vw;
          height: 36vw;
        }
      }
    }
  }

  .contact-us {
    .content {
      gap: 4vw;

      img {
        width: 200px;
        border-radius: 100px;
      }
    }
  }
}

@media (max-width: 480px) {
  .landing {
    background-attachment: scroll;
    .navbar {
      padding: 1rem;
      img {
        display: none;
      }
    }
  }

  .main {
    .title {
      margin-bottom: -1rem;
    }
    .content {
      flex-direction: column;

      i {
        margin-top: 2rem;
      }
    }
  }

  .contact-us {
    .content {
      flex-direction: column;
      padding: none;
    }

    .title {
      margin: 0;
    }
  }
}
