@import "../landing-page/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  // border: 1px solid red;
}

.landing {
  background-image: url("/team-135/team-135-background.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: hsla(0, 0%, 0%, 0.5);
  background-blend-mode: soft-light;
  min-height: 90vh;

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 0%, 0.8);
    gap: 2vw;

    img {
      max-width: 100%;
      padding: 10px;
      height: 100px;
      width: auto;
      filter: invert(1);
    }

    .links {
      text-decoration: none;
      position: relative;
      color: $primary;
      font-weight: 350;
      font-size: 20px;

      &::after {
        content: "";
        width: 0%;
        height: 1px;
        transition: width 200ms ease-in;
        background-color: $primary;
        position: absolute;
        top: 29px;
        left: 0;
      }

      &:hover::after {
        width: 100%;
      }
    }

    .donate {
      background-color: $decoration;
      padding: 0.5em 1em;
      border-radius: 4px;
      text-transform: uppercase;

      &::after {
        display: none;
      }

      &:hover {
        box-shadow: 0px 2px 10px 1px $decoration;
      }
    }
  }

  .hero {
    font-weight: bold;
    color: $primary;
    text-align: center;

    .title {
      margin-top: 25vh;
      font-size: clamp(1rem, 10vw, 7.5rem);
    }

    .typed-title {
      margin-top: 1vh;
      font-weight: 400;
      font-size: 20px;
    }

    .back {
      border-radius: 1vw;
      font-weight: 300;
      font-size: 20px;
      margin-top: 16vh;

      a {
        background-color: hsl(43, 100%, 50%, 0.8);
        text-transform: uppercase;
        text-decoration: none;
        color: $primary;
        padding: 2vw;

        &:hover {
          box-shadow: 0px 2px 10px 1px $decoration;
        }
      }
    }
  }
}

.main {
  text-align: center;
  margin: 4vw;
  display: flex;
  flex-direction: column;
  color: $secondary;

  .title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 4vh;
    color: $secondary;
  }

  .content {
    display: flex;
    justify-content: space-evenly;

    i {
      font-size: 100px;
      color: $decoration;
      transition: transform 200ms ease-in, color 200ms ease-in;

      &:hover {
        transform: translateY(-7px) scale(1.1);
        color: hsl(43, 100%, 75%);
      }
    }

    h3 {
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: 1.5rem;
      font-weight: 700;
    }

    p {
      line-height: 1.5rem;
      font-size: 1rem;
      max-width: 50ch;
      margin: 0 auto;
      font-weight: 300;
      color: $tertiary;
    }
  }
}

.sponsors {
  background-image: url("../team-135/main-logo.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: hsla(0, 0%, 0%, 0.8);
  background-blend-mode: soft-light;
  padding: 4vh 0vw;

  .title {
    font-size: clamp(28px, 4vw, 40px);
    text-align: center;
    font-weight: 700;
    color: $primary;
    margin-bottom: 2vh;
  }

  .container {
    img {
      width: 100%;
    }
    .swiper {
      // --swiper-color: white;
      width: min(400px, 90%);
      border: 3px solid var(--swiper-color);
      aspect-ratio: 1;

      .swiper-slide {
        display: flex;
        align-items: center;
      }

      .swiper-button-prev,
      .swiper-button-next {
        color: var(--swiper-color);
        mix-blend-mode: difference;
      }

      .swiper-pagination-bullet-active {
        background-color: var(--swiper-color);
      }
    }
  }
}

.chairmans-video {
  color: $secondary;
  background-color: $primary;
  text-align: center;
  padding-top: 2rem;

  .title {
    font-size: 4rem;
    font-weight: 700;
  }

  .subtitle {
    font-size: 18px;
    margin: 0 10vw 4vh;
    color: $tertiary;
    font-weight: 400;
  }

  iframe {
    max-width: 64vw;
    height: 36vw;
  }
}

.contact-us {
  text-align: center;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  color: $secondary;

  .title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  .subtitle {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 3vw;
    color: $tertiary;
  }

  .content {
    display: flex;
    justify-content: center;
    gap: 10vw;

    img {
      width: 100%;
      height: auto;
      width: 250px;
      border-radius: 125px;
      margin-bottom: 1vw;
    }

    h1 {
      font-size: 28px;
      font-weight: 700;
    }

    h2 {
      font-size: 20px;
      font-weight: 400;
    }
  }
}

@media (max-width: 720px) {
  .landing {
    min-height: 80vh;

    .navbar {
      padding: 12px 6px;

      .links {
        font-size: 14px;

        &::after {
          display: none;
        }
      }

      img {
        height: 50px;
        padding: 0;
      }
    }
  }

  .main .title {
    font-size: 3rem;
  }

  .chairmans-video .title {
    font-size: 3rem;
  }

  .contact-us {
    .title {
      font-size: 3rem;
    }

    .content {
      gap: 4vw;

      img {
        width: 200px;
        border-radius: 100px;
      }
    }
  }
}

@media (max-width: 480px) {
  .landing {
    background-attachment: scroll;
    .navbar {
      padding: 1rem;
      img {
        display: none;
      }
    }

    .hero {
      .typed-title {
        font-size: 14px;
      }

      .back {
        font-size: 14px;
      }
    }
  }

  .main {
    .title {
      margin-bottom: -1rem;
    }
    .content {
      flex-direction: column;

      i {
        margin-top: 2rem;
      }
    }
  }

  .contact-us {
    .content {
      flex-direction: column;
      padding: none;
    }

    .title {
      font-size: 3rem;
      margin: 0;
    }
  }
}
