@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
.navbar {
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(0deg, 0%, 0%, 0.5);
}
.navbar .icons {
  display: flex;
  gap: 2vw;
}
.navbar .icons i {
  font-size: 32px;
  color: white;
  transition: transform 100ms ease-in, color 100ms ease-in;
}
.navbar .icons i:hover {
  transform: translateY(-2px) scale(1.05);
  color: rgb(255, 191, 0);
}
.navbar .icons a img {
  height: 88px;
  width: auto;
  margin: 3px 2vw 0 0;
}
.navbar .icons a .home:hover {
  border: 1px solid white;
}
.navbar .icons a .invert {
  filter: invert(1);
}
.navbar .icons a .invert:hover {
  border: 1px solid black;
}
.navbar .nav-menu {
  display: flex;
  gap: 2vw;
  align-items: center;
  text-align: center;
}
.navbar .nav-menu .nav-item {
  text-decoration: none;
  position: relative;
  color: white;
  font-size: 24px;
  font-weight: 300;
}
.navbar .nav-menu .nav-item::after {
  content: "";
  width: 0%;
  height: 1px;
  transition: width 200ms ease-in;
  background-color: white;
  position: absolute;
  top: 31px;
  left: 1px;
}
.navbar .nav-menu .nav-item:hover::after {
  width: 100%;
}
.navbar .nav-menu #donate {
  background-color: rgb(255, 191, 0);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-transform: uppercase;
}
.navbar .nav-menu #donate::after {
  display: none;
}
.navbar .nav-menu #donate:hover {
  box-shadow: 0px 2px 10px 1px rgb(255, 191, 0);
}
.navbar .hamburger {
  display: none;
}
.navbar .hamburger .bar {
  display: block;
  width: 50px;
  height: 6px;
  margin: 10px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 0 8vw;
  }
  .navbar .nav-menu {
    position: fixed;
    right: -100%;
    top: 95px;
    flex-direction: column;
    background-color: hsla(0deg, 0%, 0%, 0.5);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .navbar .nav-menu .nav-item {
    padding: 1rem 8vw;
  }
  .navbar .nav-menu .nav-item::after {
    display: none;
  }
  .navbar .nav-menu .nav-item:hover {
    font-weight: 600;
  }
  .navbar .nav-menu #donate {
    padding: 1rem 0;
    width: 100%;
    border-radius: 0;
    background-color: rgba(255, 191, 0, 0.8);
  }
  .navbar .nav-menu #donate:hover {
    box-shadow: 0px 2px 10px 1px rgba(255, 191, 0, 0.8);
  }
  .navbar .nav-menu.active {
    right: 0;
  }
  .navbar .hamburger {
    display: block;
    cursor: pointer;
  }
  .navbar .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .navbar .hamburger.active .bar:nth-child(1) {
    transform: translateY(16px) rotate(45deg);
  }
  .navbar .hamburger.active .bar:nth-child(3) {
    transform: translateY(-16px) rotate(-45deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.landing {
  background-image: url("/team-135/media/team-135-background.webp");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: hsla(0deg, 0%, 0%, 0.5);
  background-blend-mode: soft-light;
  min-height: 90vh;
}
.landing .hero {
  font-weight: 700;
  color: white;
  text-align: center;
}
.landing .hero .title {
  padding-top: 36vh;
  font-size: clamp(3rem, 10vw, 7.5rem);
}
.landing .hero .typed-title {
  margin-top: 1vh;
  font-weight: 400;
  font-size: clamp(16px, 3vw, 18px);
}
.landing .hero .back {
  border-radius: 1vw;
  font-weight: 400;
  font-size: clamp(16px, 3vw, 24px);
  margin-top: 16vh;
}
.landing .hero .back a {
  background-color: rgb(255, 191, 0);
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 2vw;
}
.landing .hero .back a:hover {
  box-shadow: 0px 2px 10px 1px rgb(255, 191, 0);
}

.main {
  text-align: center;
  margin: 4vw;
  color: rgb(60, 72, 88);
}
.main .title {
  font-size: clamp(2.5rem, 8vw, 4rem);
  font-weight: 700;
  margin-bottom: 4vh;
  color: rgb(60, 72, 88);
}
.main .content {
  display: flex;
  justify-content: space-evenly;
}
.main .content i {
  font-size: 100px;
  color: rgb(255, 191, 0);
  transition: transform 200ms ease-in, color 200ms ease-in;
}
.main .content i:hover {
  transform: translateY(-7px) scale(1.1);
  color: hsl(43deg, 100%, 75%);
}
.main .content h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 24px;
}
.main .content p {
  line-height: 1.5rem;
  font-size: 16px;
  max-width: 50ch;
  margin: 0 auto;
  font-weight: 300;
  color: rgb(150, 150, 150);
}

.sponsors {
  background-image: url("/team-135/media/main-logo.webp");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: hsla(0deg, 0%, 0%, 0.8);
  background-blend-mode: soft-light;
  padding: 4vh 0vw;
}
.sponsors .title {
  font-size: clamp(24px, 3vw, 40px);
  text-align: center;
  font-weight: 700;
  color: white;
  margin-bottom: -1rem;
}
.sponsors .container img {
  width: 100%;
}
.sponsors .container .swiper {
  width: 400px;
  aspect-ratio: 1;
}
.sponsors .container .swiper .swiper-slide {
  display: flex;
  align-items: center;
  padding: 2rem;
}
.sponsors .container .swiper .swiper-button-prev,
.sponsors .container .swiper .swiper-button-next {
  color: white;
  margin: 10rem 0;
}
.sponsors .container .swiper .swiper-pagination-bullet {
  background-color: white;
}

.current-events {
  color: rgb(60, 72, 88);
  background-color: white;
  text-align: center;
  padding-top: 2rem;
}
.current-events .title {
  font-size: clamp(2.5rem, 8vw, 4rem);
  font-weight: 700;
}
.current-events .videos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
.current-events .videos .video .subtitle {
  font-size: clamp(16px, 3vw, 18px);
  color: rgb(150, 150, 150);
  font-weight: 400;
  margin-bottom: 0.5vw;
}
.current-events .videos .video iframe {
  width: 42.6667vw;
  height: 24vw;
}

.contact-us {
  text-align: center;
  margin: 2rem;
  color: rgb(60, 72, 88);
}
.contact-us .title {
  font-size: clamp(2.5rem, 8vw, 4rem);
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.contact-us .subtitle {
  font-size: clamp(16px, 3vw, 18px);
  margin-bottom: 3vw;
  color: rgb(150, 150, 150);
}
.contact-us .content {
  display: flex;
  justify-content: center;
  gap: 10vw;
}
.contact-us .content img {
  width: 100%;
  height: auto;
  width: 250px;
  border-radius: 125px;
  margin-bottom: 1vw;
}
.contact-us .content h1 {
  font-size: 24px;
  font-weight: 700;
}
.contact-us .content h2 {
  font-size: clamp(16px, 3vw, 18px);
  font-weight: 400;
  color: rgb(60, 72, 88);
}

@media (max-width: 720px) {
  .landing {
    min-height: 80vh;
  }
  .landing .navbar {
    padding: 12px 6px;
  }
  .landing .navbar .links {
    font-size: 14px;
  }
  .landing .navbar .links::after {
    display: none;
  }
  .landing .navbar img {
    height: 50px;
    padding: 0;
  }
  .current-events .videos {
    flex-direction: column;
  }
  .current-events .videos .video iframe {
    width: 64vw;
    height: 36vw;
  }
  .contact-us .content {
    gap: 4vw;
  }
  .contact-us .content img {
    width: 200px;
    border-radius: 100px;
  }
}
@media (max-width: 480px) {
  .landing {
    background-attachment: scroll;
  }
  .landing .navbar {
    padding: 1rem;
  }
  .landing .navbar img {
    display: none;
  }
  .main .title {
    margin-bottom: -1rem;
  }
  .main .content {
    flex-direction: column;
  }
  .main .content i {
    margin-top: 2rem;
  }
  .sponsors {
    background-attachment: scroll;
  }
  .contact-us .content {
    flex-direction: column;
    padding: none;
  }
  .contact-us .title {
    margin: 0;
  }
}/*# sourceMappingURL=team-135.css.map */