@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: white;
  --background: grey;
  --nav-bar: rgba(0, 0, 0, 0.8);
  --decoration: #ebaf2d;
  --main-text: rgb(70, 70, 70);
  --secondary-text: rgb(125, 125, 125);
}
  
body {
  background-color: var(--background);
}
  
.hero {
  font-family: 'DM Sans', sans-serif;
  color: var(--primary);
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("team-135-background.jpg");
  background-position: center center;
  background-size: cover;
  height: 100vh;
}
  
.nav-bar {
  color: var(--primary);
  background-color: var(--nav-bar);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 15rem;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nav-bar ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  font-size: 0.8rem;
}

.mini-title {
  color: var(--primary);
  font-size: 1.5rem;
  font-weight: normal;
  position: relative;
  text-decoration: none;
}

.mini-title:hover {
  cursor: default;
}

.mini-title::before {
  position: absolute;
  content: '';
  background-color: var(--primary);
  height: 3px;
  width: 0%;
  top: -5px;
  left: 100%;
  transition: width 300ms ease-in,
    left 300ms ease-in;   
  ; 
}

.mini-title::after {
  position: absolute;
  content: '';
  background-color: var(--primary);
  height: 3px;
  width: 0%;
  bottom: -5px;
  left: 0;
  transition: width 300ms ease-in;
}

.mini-title:hover::after {
  width: 100%;
}

.mini-title:hover::before {
  width: 100%;
  left: 0%; 
}

.nav-bar ul a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--primary);
  font-weight: bold;
  position: relative;
}

.nav-bar ul a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 2px;
  width: 0%;
  background: var(--primary);
  transition: width 300ms ease-in;
}

.nav-bar ul a:hover::after {
  width: 100%;
}