@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

:root {
  --primary: #ebaf2d;
  --secondary: black;
  --background: dimgray;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: var(--background);
}

.hero {
  background-color: var(--secondary);
  padding: 2rem;
  margin: 3rem 3rem 0rem;
}

.hero-title {
  color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3rem;
  font-size: 2rem;
  line-height: 4rem;
  text-shadow: 0px 0px 3px;
}

.hero-title b {
  font-weight: bolder;
}

.hero-title img {
  height: 194px;
  width: 300px;
  position: relative;
  filter: invert(1);
}

.box {
  background-color: var(--primary);
  padding: 3rem;
  margin: 0 3rem;
  margin-bottom: 3rem;
  line-height: 1.5rem;
}

.box h2 {
  font-weight: bold;
}

.box p {
  font-size: 1.25rem;
}

.box hr {
  border: 1px solid var(--secondary);
}