@import "../variables";
@import "../navbar";
@import "../footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  // border: 1px solid red;
}

.landing {
  background-image: url("/subteams/media/outreach-1.webp");
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  background-color: $background;
  background-blend-mode: soft-light;

  .hero {
    padding-top: 12vh;

    .title {
      border-radius: 70%;

      color: $primary;
      font-size: $title;
      font-weight: 700;
      text-align: center;
      padding: clamp(4rem, 10vw, 6rem) 0;
    }
  }
}

.main {
  margin: 2vw auto;
  width: clamp(40rem, 85vw, 50rem);
  font-size: $subtitle;
  color: $secondary;
  font-weight: 500;
  text-align: center;
  .subtitle{
    line-height: 1.5rem;
    font-size: $body;
    max-width: 50ch;
    margin: 0 auto;
    font-weight: 300;
    color: $tertiary;
  }
  
  h3 {
    margin-bottom: 1vh;
  }
  i {
    font-size: $icon;
    color: $decoration;
    transition: transform 200ms ease-in, color 200ms ease-in;
    margin-bottom: 2vh;
  }

  .section {
    
    margin: 2vw auto;

    .header {
      font-size: $title;
      text-align: center;
      font-weight: 700;
      color: $secondary;
      margin-bottom: 1vh;
    }

    .content {
      margin-bottom: 1.5vh;
      border-radius: 10%;

      display: flex;
      background-color: $light-tert;

      img {
        border-radius: 10%;

        width: clamp(40rem / 2, 85vw / 2, 50rem / 2);
        height: auto;
      }

      p {
        
        font-weight: 400;
        font-size: $body;
        color: $secondary;
        margin: auto auto;
        padding: 1vh 2vw;
      }

      ul {
        margin: auto auto;
        text-align: left;
      }

      li {
        font-weight: 400;
        font-size: $body;
        color: $tertiary;
      }
    }
  }
}

@media (max-width: 720px) {
  .main {
    width: 400px;

    .section {
      .content {
        flex-direction: column;

        img {
          width: 400px;
        }

        p {
          padding: 2vw;
        }
      }

      #even {
        flex-direction: column-reverse;
      }
    }
  }
}

@media (max-width: 480px) {
  .landing {
    background-attachment: scroll;
  }

  .main {
    width: 300px;

    .section {
      .content {
        img {
          width: 300px;
        }
      }
    }
  }
}
