@import "../landing-page/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  // border: 1px solid red;
}

html {
  scroll-behavior: smooth;
}

.landing {
  min-height: 90vh;

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 0%, 0.8);
    gap: 2vw;

    img {
      max-width: 100%;
      padding-top: 10px;
      height: 100px;
      width: auto;
    }

    .links {
      text-decoration: none;
      position: relative;
      color: $primary;
      font-weight: 350;
      font-size: 20px;

      &::after {
        content: "";
        width: 0%;
        height: 1px;
        transition: width 200ms ease-in;
        background-color: $primary;
        position: absolute;
        top: 29px;
        left: 0;
      }

      &:hover::after {
        width: 100%;
      }
    }

    .donate {
      background-color: $decoration;
      padding: 0.5em 1em;
      border-radius: 4px;
      text-transform: uppercase;

      &::after {
        display: none;
      }

      &:hover {
        box-shadow: 0px 2px 10px 1px $decoration;
      }
    }
  }

  .hero {
    text-align: center;
    margin: 4vw;
    color: $secondary;

    .title {
      font-size: $title;
      font-weight: 700;
      color: $secondary;
    }

    .subtitle {
      font-size: 18px;
      margin: 1vh 10vw 6vh;
      color: $tertiary;
      font-weight: 400;
    }

    .content {
      display: flex;
      justify-content: space-evenly;
      margin: 12vh 0;

      i {
        font-size: 100px;
        color: $decoration;
        transition: transform 200ms ease-in, color 200ms ease-in;

        &:hover {
          transform: translateY(-7px) scale(1.1);
          color: hsl(43, 100%, 75%);
        }
      }

      h3 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.5rem;
        font-weight: 700;
      }

      p {
        line-height: 1.5rem;
        font-size: 1rem;
        max-width: 50ch;
        margin: 0 auto;
        font-weight: 300;
        color: $tertiary;
      }
    }
  }
}

.summer-camps {
  min-height: 90vh;

  .header {
    background-image: url("/youth-camps/summer-camp-header.png");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: hsla(0, 0%, 0%, 0.7);
    background-blend-mode: soft-light;
    padding: 10vh 4vw;

    .title {
      font-size: $title;
      font-weight: 700;
      text-align: center;
      color: $primary;
    }
  }

  .content {
    text-align: center;
    width: clamp(40rem, 85vw, 50rem);
    margin: 2vw auto;

    .subtitle {
      color: $secondary;
      font-weight: 500;
      font-size: 24px;
      margin-bottom: 1vw;
    }

    .section {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 0.5vw;
      margin-bottom: 0.5vw;

      p {
        font-size: $body;
        color: $secondary;
      }

      img {
        width: 100%;
        height: auto;
        width: clamp(200px, 25vw, 250px);
      }
    }
  }
}

.junior-stem {
  min-height: 90vh;

  .header {
    background-image: url("/youth-camps/junior-stem-header.jpeg");
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    background-color: hsla(0, 0%, 0%, 0.7);
    background-blend-mode: soft-light;
    padding: 10vh 4vw;

    .title {
      font-size: $title;
      font-weight: 700;
      text-align: center;
      color: $primary;
    }
  }

  .content {
    width: clamp(40rem, 85vw, 50rem);
    margin: 2vw auto;
    text-align: center;

    .subtitle {
      color: $secondary;
      font-weight: 500;
      font-size: 24px;
      margin-bottom: 1vw;
    }

    .section {
      display: flex;

      p {
        font-size: $body;
        color: $secondary;
        padding: 0 1vw;
        text-align: left;
      }

      #right {
        text-align: right;
      }

      img {
        width: 100%;
        width: 350px;
        height: auto;
      }
    }

    #gap {
      margin-top: 1vw;
    }
  }
}

.workshops {
  min-height: 90vh;

  .header {
    background-image: url("/youth-camps/workshops-header.jpeg");
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    background-color: hsla(0, 0%, 0%, 0.7);
    background-blend-mode: soft-light;
    padding: 10vh 4vw;

    .title {
      font-size: $title;
      font-weight: 700;
      text-align: center;
      color: $primary;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: clamp(40rem, 85vw, 50rem);
    margin: 2vw auto;

    .subtitle {
      color: $secondary;
      font-weight: 500;
      font-size: 24px;
      margin-bottom: 1vw;
    }

    .section {
      display: flex;
      flex-direction: column;

      .subheader {
        background-color: $decoration;
        display: flex;

        .text {
          margin: auto auto;
          padding: 2rem;
          line-height: 3rem;
          font-size: $body;

          h1 {
            color: $secondary;
          }

          h3 {
            color: $tertiary;
            font-weight: 300;
          }
        }
      }

      #gap {
        margin-top: 2vw;
      }

      .workshop {
        display: flex;
        flex-direction: column;

        h2 {
          background-color: $tertiary;
          color: $primary;
          padding: 1.5vw;
        }

        p {
          font-size: $body;
          color: $secondary;
          background-color: lightgrey;
          padding: 1vw;
        }
      }

      img {
        width: 100%;
        width: 300px;
        height: auto;
      }
    }
  }
}

@media (max-width: 720px) {
  .landing {
    min-height: 80vh;

    .navbar {
      padding: 12px 6px;

      .links {
        font-size: 14px;

        &::after {
          display: none;
        }
      }

      img {
        height: 50px;
        padding: 0;
      }
    }
  }

  .summer-camps {
    min-height: 80vh;

    .content {
      width: 400px;

      #extra {
        display: none;
      }

      .section {
        img {
          width: clamp(200px, 25vw, 250px);
        }
      }
    }
  }

  .junior-stem {
    min-height: 80vh;

    .content {
      width: 400px;

      .section {
        align-items: center;
        flex-direction: column;

        p {
          text-align: center;
        }

        #right {
          text-align: center;
        }

        img {
          width: 300px;
          margin: 3vw;
        }
      }

      #gap {
        flex-direction: column-reverse;
      }
    }
  }

  .workshops {
    min-height: 80vh;

    .content {
      width: 400px;

      .section {
        .subheader {
          .text {
            padding: 2vw;
            font-size: 14px;
            line-height: 6vw;
          }
        }
        img {
          width: 100%;
          width: 200px;
          height: auto;
        }
      }
    }
  }
}
