@import "../variables";
@import "../navbar";
@import "../footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  // border: 1px solid red;
}

html {
  scroll-behavior: smooth;
}

.landing {
  min-height: 90vh;

  .hero {
    text-align: center;
    color: $secondary;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .title {
      font-size: $title;
      font-weight: 700;
      color: $secondary;
      margin-top: 20vh;
    }

    .subtitle {
      font-size: $subtitle;
      margin: 1vh 10vw 6vh;
      color: $tertiary;
      font-weight: 400;
    }

    .button {
      border-radius: 1vw;
      font-weight: 400;
      font-size: clamp($body, 3vw, $subheader);
      margin-top: 4vh;

      a {
        background-color: $decoration;
        text-transform: uppercase;
        text-decoration: none;
        color: $primary;
        padding: 24px;

        &:hover {
          box-shadow: 0px 2px 10px 1px $decoration;
        }
      }
    }

    .content {
      display: flex;
      justify-content: space-evenly;
      margin: 12vh 0;

      i {
        font-size: $icon;
        color: $decoration;
        transition: transform 200ms ease-in, color 200ms ease-in;

        &:hover {
          transform: translateY(-7px) scale(1.1);
          color: $light-dec;
        }
      }

      h3 {
        margin-top: 1rem;
        font-size: $subheader;
        width: 150px;
      }

      p {
        font-size: $body;
        margin: 0 auto;
        font-weight: 300;
        color: $tertiary;
      }
    }
  }
}

.short-circuits {
  min-height: 100vh;
  .header {
    background-image: url("youth-camps/media/short-circuits-header.webp");
    background-position: center;
    background-size: cover;
    background-color: $dark-backround;
    background-blend-mode: soft-light;
    padding: clamp(4rem, 10vw, 6rem) 0;

    .title {
      font-size: $title;
      font-weight: 700;
      text-align: center;
      color: $primary;
    }
  }

  .content {
    display: flex;
    gap: 2vw;
    text-align: center;
    width: clamp(40rem, 85vw, 50rem);
    margin: 2vw auto;

    .text {
      font-size: $body;
      color: $tertiary;
      line-height: 1.5rem;
      font-weight: 400;
      margin: 1vw 2vw;
    }

    .images {
      display: flex;
      flex-direction: column;
      gap: 0.5vw;

      img {
        width: clamp(40rem / 3.5, 85vw / 3.5, 50rem / 3.5);
        height: auto;
      }
    }

    img {
      width: clamp(40rem / 1.5, 85vw / 1.5, 50rem / 1.5);
      height: auto;
    }
  }
}

.summer-camps {
  min-height: 100vh;
  .header {
    background-image: url("youth-camps/media/summer-camp-header.webp");
    background-position: center;
    background-size: cover;
    background-color: $dark-backround;
    background-blend-mode: soft-light;
    padding: clamp(4rem, 10vw, 6rem) 0;

    .title {
      font-size: $title;
      font-weight: 700;
      text-align: center;
      color: $primary;
    }
  }

  .content {
    text-align: center;
    width: clamp(40rem, 85vw, 50rem);
    margin: 2vw auto;

    .subtitle {
      color: $secondary;
      font-size: clamp($body + 2px, 3vw, $subheader);
      font-weight: 400;
      margin-bottom: 1vw;
    }

    .images {
      display: flex;
      justify-content: center;
      gap: 0.5vw;
      margin-bottom: 0.5vw;

      img {
        height: auto;
        width: clamp(200px, 25vw, 250px);
      }
    }

    .text {
      p {
        font-size: $body;
        color: $tertiary;
        line-height: 1.5rem;
        font-weight: 400;
        margin: 2vh;
      }
    }
  }
}

.junior-stem {
  min-height: 100vh;
  .header {
    background-image: url("youth-camps/media/junior-stem-header.webp");
    background-position: top;
    background-size: cover;
    background-color: $dark-backround;
    background-blend-mode: soft-light;
    padding: clamp(4rem, 10vw, 6rem) 0;

    .title {
      font-size: $title;
      font-weight: 700;
      text-align: center;
      color: $primary;
    }
  }

  .content {
    width: clamp(40rem, 85vw, 50rem);
    margin: 2vw auto;
    text-align: center;

    .subtitle {
      color: $secondary;
      font-weight: 400;
      font-size: clamp($body + 2px, 3vw, $subheader);
      margin-bottom: 1vw;
    }

    .section {
      display: flex;

      p {
        font-size: $body;
        color: $tertiary;
        line-height: 1.5rem;
        font-weight: 400;
        padding: 0 1vw;
        text-align: left;
      }

      #right {
        padding-left: 0;
      }

      img {
        width: 100%;
        width: 350px;
        height: auto;
      }
    }

    #gap {
      margin-top: 1vw;
    }
  }
}

.workshops {
  min-height: 100vh;
  .header {
    background-image: url("youth-camps/media/workshops-header.webp");
    background-position: center;
    background-size: cover;
    background-color: $dark-backround;
    background-blend-mode: soft-light;
    padding: clamp(4rem, 10vw, 6rem) 0;

    .title {
      font-size: $title;
      font-weight: 700;
      text-align: center;
      color: $primary;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: clamp(40rem, 85vw, 50rem);
    margin: 2vw auto;

    .subtitle {
      color: $secondary;
      font-weight: 400;
      font-size: clamp($body + 2px, 3vw, $subheader);
      margin-bottom: 1vw;
    }

    .section {
      display: flex;
      flex-direction: column;

      .subheader {
        background-color: $decoration;
        display: flex;

        .text {
          margin: auto auto;
          padding: 2rem;
          font-size: $body;

          h1 {
            color: $secondary;
            font-size: $header;
          }

          h3 {
            color: $tertiary;
            font-size: $subtitle;
            font-weight: 300;
            line-height: 3vw;
          }
        }
      }

      #gap {
        margin-top: 2vw;
      }

      .workshop {
        display: flex;
        flex-direction: column;

        h2 {
          background-color: $tertiary;
          color: $primary;
          font-size: $subheader;
          font-weight: 400;
          padding: 1.5vw;
        }

        p {
          font-size: $body;
          color: $secondary;
          line-height: 1.5rem;
          font-weight: 300;
          background-color: $light-tert;
          padding: 1vw;
        }
      }

      img {
        width: 100%;
        width: 300px;
        height: auto;
      }
    }
  }
}

@media (max-width: 720px) {
  .landing {
    min-height: 80vh;

    .hero {
      .title {
        margin-top: 12vh;
      }

      .button {
        margin: 0 0 4vh;
      }

      .content {
        margin: 2vh auto;
        width: 400px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4vw;
      }
    }
  }

  .short-circuits {
    .content {
      width: 400px;
      flex-direction: column-reverse;

      .images {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }

      img {
        width: 400px;
      }
    }
  }

  .summer-camps {
    .content {
      width: 400px;

      #extra {
        display: none;
      }
    }
  }

  .junior-stem {
    .content {
      width: 400px;

      .section {
        align-items: center;
        flex-direction: column;

        p {
          text-align: center;
        }

        #right {
          text-align: center;
        }

        img {
          width: 300px;
          margin: 3vw;
        }
      }

      #gap {
        flex-direction: column-reverse;
      }
    }
  }

  .workshops {
    .content {
      width: 400px;

      .section {
        .subheader {
          .text {
            padding: 2vw;
          }
        }
        img {
          width: 200px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .landing {
    .hero {
      .content {
        flex-direction: column;
        width: 300px;

        h3 {
          margin: 0 auto;
        }
      }
    }
  }

  .short-circuits {
    .content {
      width: 300px;

      .images {
        img {
          width: 140px;
        }
      }

      img {
        width: 300px;
      }
    }
  }

  .summer-camps {
    .content {
      width: 300px;

      .images {
        img {
          width: 150px;
        }
      }
    }
  }

  .junior-stem {
    .content {
      width: 300px;
    }
  }

  .workshops {
    .content {
      width: 300px;

      .section {
        .subheader {
          .text {
            h3 {
              line-height: 2rem;
            }
          }
        }

        .workshop {
          h2 {
            padding: 1.5vw 2rem;
          }
        }
        img {
          width: 100px;
          height: auto;
        }
      }
    }
  }
}
