@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

$primary: white;
$secondary: rgb(60, 72, 88);
$tertiary: rgb(153, 153, 153);
$decoration: hsl(45, 100%, 50%);

$cover: 0;
$header: 0;
$title: 0;
$subtitle: 0;
$main: 0;
$navbar: 2vw;
