@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

$primary: white;
$secondary: rgb(60, 72, 88);
$tertiary: rgb(150, 150, 150);
$decoration: hsl(45, 100%, 50%);

$cover: clamp(3rem, 10vw, 7.5rem);
$title: clamp(2.5rem, 10vw, 4rem);
$header: clamp(28px, 4vw, 40px);
$subtitle: clamp(16px, 3vw, 18px);
$body: clamp(15px, 3vw, 16px);
