@import "../variables";
@import "../navbar";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  // border: 1px solid red;
}

.landing {
  background-image: url("/landing-page/media/main-background.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: hsla(0, 0%, 0%, 0.5);
  background-blend-mode: soft-light;
  min-height: 90vh;

  .hero {
    font-weight: 700;
    color: $primary;
    text-align: center;

    .title {
      padding-top: 36vh;
      font-size: $cover;
    }

    .typed-title {
      margin-top: 1vh;
      font-weight: 400;
      font-size: $subtitle;
    }
  }
}

.main {
  text-align: center;
  padding: 4vw;
  background-color: $primary;

  .title {
    font-size: $title;
    font-weight: 700;
    color: $secondary;
  }

  .subtitle {
    font-size: $subtitle;
    margin: 1vh 10vw 6vh;
    color: $tertiary;
  }

  .content {
    display: flex;
    justify-content: space-evenly;

    i {
      font-size: 100px;
      color: $decoration;
      transition: transform 200ms ease-in, color 200ms ease-in;

      &:hover {
        transform: translateY(-7px) scale(1.1);
        color: hsl(43, 100%, 75%);
      }
    }

    h3 {
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: $subheader;
    }

    p {
      line-height: 1.5rem;
      font-size: $body;
      max-width: 50ch;
      margin: 0 auto;
      font-weight: 300;
      color: $tertiary;
    }
  }
}

.quote-section {
  background-image: url("/landing-page/media/quote-background.jpg");
  background-position: center;
  background-attachment: fixed;
  background-color: hsla(0, 0%, 0%, 0.8);
  background-blend-mode: soft-light;
  padding: 8vh 4vw;

  .title {
    font-size: $header;
    font-weight: 700;
    color: $primary;
    border-left: 5px solid $primary;
    width: min(1600px, 90%);
    margin: 0 auto;
    padding: 1em 2em;
  }
}

.contact-us {
  text-align: center;
  margin: 2rem;
  color: $secondary;

  .title {
    font-size: $title;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  .subtitle {
    font-size: $subtitle;
    margin-bottom: 3vw;
    color: $tertiary;
  }

  .content {
    display: flex;
    justify-content: center;
    gap: 10vw;

    img {
      max-width: 100%;
      height: auto;
      width: 250px;
      border-radius: 125px;
      margin-bottom: 1vw;
    }

    h1 {
      font-size: $subheader;
      font-weight: 700;
      color: $secondary;
    }

    h2 {
      font-size: $subtitle;
      font-weight: 400;
      color: $secondary;
    }

    h3 {
      font-size: $body;
      font-weight: 300;
      color: $tertiary;
    }
  }
}

@media (max-width: 720px) {
  .landing {
    min-height: 80vh;
  }

  .contact-us {
    .content {
      gap: 4vw;

      img {
        width: 200px;
        border-radius: 100px;
      }
    }
  }
}

@media (max-width: 480px) {
  .landing {
    background-attachment: scroll;
  }

  .main {
    .subtitle {
      margin: auto 10vw;
    }

    .content {
      flex-direction: column;

      i {
        margin-top: 2rem;
      }
    }
  }

  .quote-section {
    background-attachment: scroll;
    .title {
      border: 5px solid $primary;
    }
  }

  .contact-us {
    .content {
      flex-direction: column;
      padding: none;
    }

    .title {
      margin: 0;
    }
  }
}
