@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  border: 1px solid red;
}

.landing {
  background-image: url("/landing-page/main-background.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: hsla(0, 0%, 0%, 0.5);
  background-blend-mode: soft-light;
  min-height: 90vh;

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 0%, 0.8);
    gap: 2vw;

    img {
      max-width: 100%;
      padding-top: 10px;
      height: 100px;
      width: auto;
    }

    .links {
      text-decoration: none;
      position: relative;
      color: $primary;
      font-weight: 350;
      font-size: 20px;

      &::after {
        content: "";
        width: 0%;
        height: 1px;
        transition: width 200ms ease-in;
        background-color: $primary;
        position: absolute;
        top: 29px;
        left: 0;
      }

      &:hover::after {
        width: 100%;
      }
    }

    .donate {
      background-color: $decoration;
      padding: 0.5em 1em;
      border-radius: 4px;
      text-transform: uppercase;

      &::after {
        display: none;
      }

      &:hover {
        box-shadow: 0px 2px 10px 1px $decoration;
      }
    }
  }

  .hero {
    font-weight: bold;
    color: $primary;

    .title {
      margin-top: 25vh;
      font-size: clamp(1rem, 10vw, 7.5rem);
      text-align: center;
    }

    .typed-title {
      text-align: center;
      margin-top: 1vh;
      font-weight: 400;
      font-size: 20px;
    }
  }
}

.main {
  text-align: center;
  margin: 4vw;
  display: flex;
  flex-direction: column;
  color: $secondary;

  .title {
    font-size: 4rem;
    font-weight: 700;
    color: $secondary;
  }

  .subtitle {
    font-size: 18px;
    margin: 1vh 10vw 6vh;
    color: $tertiary;
    font-weight: 400;
  }

  .content {
    display: flex;
    justify-content: space-evenly;

    i {
      font-size: 100px;
      color: $decoration;
      transition: transform 200ms ease-in, color 200ms ease-in;

      &:hover {
        transform: translateY(-7px) scale(1.1);
        color: hsl(43, 100%, 75%);
      }
    }

    h3 {
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: 1.5rem;
      font-weight: 700;
    }

    p {
      line-height: 1.5rem;
      font-size: 1rem;
      max-width: 50ch;
      margin: 0 auto;
      font-weight: 300;
      color: $tertiary;
    }
  }
}

.quote-section {
  background-image: url("/landing-page/quote-background.jpg");
  background-position: center;
  background-attachment: fixed;
  background-color: hsla(0, 0%, 0%, 0.8);
  background-blend-mode: soft-light;
  padding: 8vh 4vw;

  .title {
    font-size: clamp(28px, 4vw, 40px);
    font-weight: 700;
    color: $primary;
    border-left: 5px solid $primary;
    width: min(1600px, 90%);
    margin: 0 auto;
    padding: 1em 2em;
  }
}

.contact-us {
  text-align: center;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  color: $secondary;

  .title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  .subtitle {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 3vw;
    color: $tertiary;
  }

  .content {
    display: flex;
    justify-content: center;
    gap: 10vw;

    img {
      max-width: 100%;
      height: auto;
      width: 250px;
      border-radius: 125px;
      margin-bottom: 1vw;
    }

    h1 {
      font-size: 28px;
      font-weight: 700;
    }

    h2 {
      font-size: 20px;
      font-weight: 400;
    }

    h3 {
      font-size: 18px;
      font-weight: 300;
      color: $tertiary;
    }
  }
}

@media (max-width: 702px) {
  .landing {
    min-height: 80vh;

    .navbar {
      .links {
        font-size: 14px;

        &::after {
          text-decoration: none;
          height: 0px;
        }
      }

      img {
        height: 50px;
        padding-top: 5px;
      }
    }
  }

  .main {
    .title {
      font-size: 3rem;
    }

    .subtitle {
      font-size: 16px;
    }
  }

  .contact-us .content {
    gap: 4vw;

    img {
      width: 200px;
      border-radius: 100px;
    }
  }
}

@media (max-width: 512px) {
  .landing {
    .navbar img {
      display: none;
    }

    .hero .typed-title {
      font-size: 14px;
    }
  }

  .main {
    .subtitle {
      margin: auto 10vw;
    }

    .content {
      flex-direction: column;

      i {
        margin-top: 1vh;
      }
    }
  }

  .quote-section .title {
    border: 5px solid $primary;
  }

  .contact-us .content {
    flex-direction: column;
    padding: none;
  }
}
