@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.landing {
  background-image: url("/landing-page/main-background.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: hsla(0deg, 0%, 0%, 0.5);
  background-blend-mode: soft-light;
  min-height: 90vh;
}
.landing .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(0deg, 0%, 0%, 0.8);
  gap: 2vw;
}
.landing .navbar img {
  max-width: 100%;
  padding-top: 10px;
  height: 100px;
  width: auto;
}
.landing .navbar .links {
  text-decoration: none;
  position: relative;
  color: white;
  font-weight: 350;
  font-size: 20px;
}
.landing .navbar .links::after {
  content: "";
  width: 0%;
  height: 1px;
  transition: width 200ms ease-in;
  background-color: white;
  position: absolute;
  top: 29px;
  left: 0;
}
.landing .navbar .links:hover::after {
  width: 100%;
}
.landing .navbar .donate {
  background-color: hsl(45deg, 100%, 50%);
  padding: 0.5em 1em;
  border-radius: 4px;
  text-transform: uppercase;
}
.landing .navbar .donate::after {
  display: none;
}
.landing .navbar .donate:hover {
  box-shadow: 0px 2px 10px 1px hsl(45deg, 100%, 50%);
}
.landing .hero {
  font-weight: bold;
  color: white;
}
.landing .hero .title {
  margin-top: 25vh;
  font-size: clamp(1rem, 10vw, 7.5rem);
  text-align: center;
}
.landing .hero .typed-title {
  text-align: center;
  margin-top: 1vh;
  font-weight: 400;
  font-size: 20px;
}

.main {
  text-align: center;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  color: rgb(60, 72, 88);
}
.main .title {
  font-size: 4rem;
  font-weight: 700;
  color: rgb(60, 72, 88);
}
.main .subtitle {
  font-size: 18px;
  margin: 1vh 10vw 6vh;
  color: rgb(153, 153, 153);
  font-weight: 400;
}
.main .content {
  display: flex;
  justify-content: space-evenly;
}
.main .content i {
  font-size: 100px;
  color: hsl(45deg, 100%, 50%);
  transition: transform 200ms ease-in, color 200ms ease-in;
}
.main .content i:hover {
  transform: translateY(-7px) scale(1.1);
  color: hsl(43deg, 100%, 75%);
}
.main .content h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}
.main .content p {
  line-height: 1.5rem;
  font-size: 1rem;
  max-width: 50ch;
  margin: 0 auto;
  font-weight: 300;
  color: rgb(153, 153, 153);
}

.quote-section {
  background-image: url("/landing-page/quote-background.jpg");
  background-position: center;
  background-attachment: fixed;
  background-color: hsla(0deg, 0%, 0%, 0.8);
  background-blend-mode: soft-light;
  padding: 8vh 4vw;
}
.quote-section .title {
  font-size: clamp(28px, 4vw, 40px);
  font-weight: 700;
  color: white;
  border-left: 5px solid white;
  width: min(1600px, 90%);
  margin: 0 auto;
  padding: 1em 2em;
}

.contact-us {
  text-align: center;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  color: rgb(60, 72, 88);
}
.contact-us .title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.contact-us .subtitle {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 3vw;
  color: rgb(153, 153, 153);
}
.contact-us .content {
  display: flex;
  justify-content: center;
  gap: 10vw;
}
.contact-us .content img {
  max-width: 100%;
  height: auto;
  width: 250px;
  border-radius: 125px;
  margin-bottom: 1vw;
}
.contact-us .content h1 {
  font-size: 28px;
  font-weight: 700;
}
.contact-us .content h2 {
  font-size: 20px;
  font-weight: 400;
}
.contact-us .content h3 {
  font-size: 18px;
  font-weight: 300;
  color: rgb(153, 153, 153);
}

@media (max-width: 720px) {
  .landing {
    min-height: 80vh;
  }
  .landing .navbar {
    padding: 12px 6px;
  }
  .landing .navbar .links {
    font-size: 14px;
  }
  .landing .navbar .links::after {
    text-decoration: none;
    height: 0px;
  }
  .landing .navbar img {
    height: 50px;
    padding-top: 5px;
  }
  .main .title {
    font-size: 3rem;
  }
  .main .subtitle {
    font-size: 16px;
  }
  .contact-us .content {
    gap: 4vw;
  }
  .contact-us .content img {
    width: 200px;
    border-radius: 100px;
  }
}
@media (max-width: 480px) {
  .landing {
    background-attachment: scroll;
  }
  .landing .navbar {
    padding: 1rem;
  }
  .landing .navbar img {
    display: none;
  }
  .landing .hero .typed-title {
    font-size: 14px;
  }
  .main .subtitle {
    margin: auto 10vw;
  }
  .main .content {
    flex-direction: column;
  }
  .main .content i {
    margin-top: 2rem;
  }
  .quote-section {
    background-attachment: scroll;
  }
  .quote-section .title {
    border: 5px solid white;
  }
  .contact-us .content {
    flex-direction: column;
    padding: none;
  }
  .contact-us .title {
    font-size: 3rem;
    margin: 0;
  }
}/*# sourceMappingURL=styles.css.map */