@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
.navbar {
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.navbar .icons {
  display: flex;
  gap: 2vw;
}
.navbar .icons i {
  font-size: 32px;
  color: white;
  transition: transform 100ms ease-in, color 100ms ease-in;
}
.navbar .icons i:hover {
  transform: translateY(-2px) scale(1.05);
  color: rgb(250, 200, 0);
}
.navbar .icons a img {
  height: 88px;
  width: auto;
  margin: 3px 2vw 0 0;
}
.navbar .icons a .home:hover {
  border: 1px solid white;
}
.navbar .icons a .invert {
  filter: invert(1);
}
.navbar .icons a .invert:hover {
  border: 1px solid black;
}
.navbar .nav-menu {
  /* Makes the logo to left However there is an issue where the logo is included with the other text items so it don't center properly
   flex: 1; /* Allow growth to fill remaining space */
  /* justify-content:  center; /* Center menu items within remaining space */
  display: flex;
  gap: 2vw;
  align-items: center;
  text-align: center;
}
.navbar .nav-menu .nav-item {
  text-decoration: none;
  position: relative;
  color: white;
  font-size: 24px;
  font-weight: 300;
}
.navbar .nav-menu .nav-item::after {
  content: "";
  width: 0%;
  height: 1px;
  transition: width 200ms ease-in;
  background-color: white;
  position: absolute;
  top: 31px;
  left: 1px;
}
.navbar .nav-menu .nav-item:hover::after {
  width: 100%;
}
.navbar .nav-menu #donate {
  background-color: rgb(250, 200, 0);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-transform: uppercase;
}
.navbar .nav-menu #donate::after {
  display: none;
}
.navbar .nav-menu #donate:hover {
  box-shadow: 0px 2px 10px 1px rgb(250, 200, 0);
}
.navbar .hamburger {
  display: none;
}
.navbar .hamburger .bar {
  display: block;
  width: 50px;
  height: 6px;
  margin: 10px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 0 8vw;
  }
  .navbar .nav-menu {
    position: fixed;
    right: -100%;
    top: 95px;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .navbar .nav-menu .nav-item {
    padding: 1rem 8vw;
  }
  .navbar .nav-menu .nav-item::after {
    display: none;
  }
  .navbar .nav-menu .nav-item:hover {
    font-weight: 600;
  }
  .navbar .nav-menu #donate {
    padding: 1rem 0;
    width: 100%;
    border-radius: 0;
    background-color: rgba(250, 200, 0, 0.8);
  }
  .navbar .nav-menu #donate:hover {
    box-shadow: 0px 2px 10px 1px rgba(250, 200, 0, 0.8);
  }
  .navbar .nav-menu.active {
    right: 0;
  }
  .navbar .hamburger {
    display: block;
    cursor: pointer;
  }
  .navbar .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .navbar .hamburger.active .bar:nth-child(1) {
    transform: translateY(16px) rotate(45deg);
  }
  .navbar .hamburger.active .bar:nth-child(3) {
    transform: translateY(-16px) rotate(-45deg);
  }
}
.footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  padding: 2rem 1rem;
  background-color: rgb(60, 72, 88);
  color: white;
  font-size: 18px;
  margin-top: 2vw;
}
.footer .title {
  text-transform: uppercase;
  font-weight: 700;
}
.footer .content {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.footer .content a {
  color: white;
  font-size: 48px;
}
.footer .content a i {
  transition: transform 100ms ease-in, color 100ms ease-in;
}
.footer .content a i:hover {
  transform: translateY(-2px) scale(1.15);
  color: rgb(250, 200, 0);
}
.footer .copywrite {
  margin-top: 1rem;
  font-size: 16px;
}
.footer .copywrite .name {
  box-shadow: inset 0 -0.125rem 0 rgb(250, 200, 0);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  color: rgb(250, 200, 0);
  text-decoration: none;
  display: inline-block;
}
.footer .copywrite .name:hover {
  background-color: rgb(250, 200, 0);
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.popup .popup-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-53%, -20%);
  background-color: rgb(255, 255, 255);
  padding: 2vh;
  border-radius: 3vh;
  text-align: center;
}
.popup .popup-content p {
  padding-top: 2.3vh;
  line-height: 1.5rem;
  font-size: 20px;
  max-width: 50ch;
  margin: 0 auto;
  font-weight: 400;
  color: rgb(150, 150, 150);
}
.popup .popup-content .title {
  font-size: clamp(2.5rem, 8vw, 4rem);
  text-align: center;
  font-weight: 700;
  color: rgb(60, 72, 88);
  margin-bottom: -1rem;
}
.popup .popup-content .button {
  border-radius: 1vw;
  font-weight: 400;
  font-size: clamp(16px, 3vw, 24px);
  margin-top: 6vh;
}
.popup .popup-content .button a {
  background-color: rgb(250, 200, 0);
  text-decoration: none;
  color: white;
  padding: 25px;
}
.popup .popup-content .button a:hover {
  box-shadow: 0px 2px 10px 1px rgb(250, 200, 0);
}
.popup .popup-content #close-popup {
  position: relative;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 40px;
  background-color: rgb(250, 225, 12);
  color: rgb(0, 0, 0);
  transform: translate(70%, -470%);
  border: none;
  padding: 2vh vh;
  cursor: pointer;
  border-radius: 5vh;
}
.popup button {
  align-self: center;
  display: block;
  margin: 0 0 0 auto;
  font-size: 36px;
  color: white;
  background: rgb(250, 200, 0);
  border-radius: 100%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 4px solid rgb(60, 72, 88);
  transform: translate(-30%, 30%);
}
.popup img {
  width: 500px;
}

.becomesponsor {
  text-align: center;
  margin-bottom: 0vh;
}
.becomesponsor button {
  align-self: center;
  display: block;
  margin: 0 0 0 auto;
  font-size: 36px;
  color: white;
  background: rgb(250, 200, 0);
  border-radius: 100%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 4px solid rgb(60, 72, 88);
  transform: translate(-30%, 30%);
}

.landing {
  background-image: url("/landing-page/media/main-background-2.webp");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: soft-light;
  min-height: 90vh;
}
.landing .hero {
  font-weight: 700;
  color: white;
  text-align: center;
}
.landing .hero .title {
  padding-top: 36vh;
  font-size: clamp(3rem, 10vw, 7.5rem);
}
.landing .hero .typed-title {
  margin-top: 1vh;
  font-weight: 400;
  font-size: clamp(16px, 3vw, 18px);
}

.team-container {
  display: flex;
  justify-content: space-between;
}
.team-container .team {
  width: 40vw; /* Adjust as needed */
  margin-bottom: 7vh;
  color: rgb(0, 0, 0); /* Optional margin between teams */
}
.team-container .team h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 24px;
}
.team-container .team .team-description {
  color: rgb(150, 150, 150); /* Match the color of the other text */
  font-family: "Roboto", Arial, Helvetica, sans-serif; /* Match the font-family */
  font-size: 16px; /* Match the font size */
  font-weight: 300; /* Match the font weight */
  line-height: 1.5; /* Match the line height */
}

.button {
  border-radius: 1vw;
  font-weight: 400;
  font-size: clamp(16px, 3vw, 24px);
  margin-top: 6vh;
}
.button a {
  background-color: rgb(250, 200, 0);
  text-decoration: none;
  color: white;
  padding: 25px;
}
.button a:hover {
  box-shadow: 0px 2px 10px 1px rgb(250, 200, 0);
}

.main {
  text-align: center;
  padding: 10vw;
  background-color: white;
}
.main .crescendo {
  border-radius: 1vw; /* You can adjust the radius to your preference */
  overflow: hidden; /* Ensures the border-radius is applied to the image content */
}
.main .title {
  font-size: clamp(2.5rem, 8vw, 4rem);
  font-weight: 700;
  color: rgb(60, 72, 88);
}
.main .subtitle {
  font-size: clamp(16px, 3vw, 18px);
  margin: 1vh 10vw 5vh;
  color: rgb(150, 150, 150);
}
.main .subtitle .videos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
.main .subtitle .videos .video .subtitle {
  font-size: clamp(16px, 3vw, 18px);
  color: rgb(150, 150, 150);
  font-weight: 400;
  margin-bottom: 0.5vw;
}
.main .subtitle .videos .video iframe {
  width: 42.6667vw;
  height: 24vw;
}
.main .content {
  display: flex;
  justify-content: space-evenly;
}
.main .content i {
  font-size: 100px;
  color: rgb(250, 200, 0);
  transition: transform 200ms ease-in, color 200ms ease-in;
}
.main .content i:hover {
  transform: translateY(-7px) scale(1.1);
  color: rgb(250, 225, 12);
}
.main .content h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 24px;
}
.main .content p {
  line-height: 1.5rem;
  font-size: 16px;
  max-width: 50ch;
  margin: 0 auto;
  font-weight: 300;
  color: rgb(150, 150, 150);
}

.quote-section {
  background-image: url("/landing-page/media/quote-background.webp");
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: soft-light;
  padding: 8vh 4vw;
}
.quote-section .title {
  font-size: clamp(24px, 3vw, 40px);
  font-weight: 700;
  color: white;
  border-left: 5px solid white;
  width: min(1600px, 90%);
  margin: 0 auto;
  padding: 1em 2em;
}

.sponsors {
  background-image: url("/team-135/media/main-logo.webp");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: white;
  background-blend-mode: soft-light;
  padding: 2vw 0;
}
.sponsors .title {
  font-size: clamp(2.5rem, 8vw, 4rem);
  text-align: center;
  font-weight: 700;
  color: rgb(60, 72, 88);
  margin-bottom: -1rem;
}
.sponsors .container img {
  width: 100%;
}
.sponsors .container .swiper {
  width: 400px;
  aspect-ratio: 1;
}
.sponsors .container .swiper .swiper-slide {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.sponsors .preview {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  flex-wrap: wrap;
  width: 86vw;
  margin: 0 auto;
}
.sponsors .preview img {
  width: 100px;
  height: auto;
}

@media (max-width: 1060px) {
  .popup {
    width: 100%;
    top: 0%;
  }
  .popup .popup-content #close-popup {
    transform: translate(60%, -470%);
  }
}
@media (max-width: 1020px) {
  .becomesponsor {
    margin-bottom: 3vh;
  }
  .popup {
    width: 100%;
    top: 0%;
  }
  .popup .popup-content {
    left: 40%;
    transform: translate(-30%, -20%);
  }
  .popup .popup-content #close-popup {
    transform: translate(60%, -470%);
  }
}
@media (max-width: 852px) {
  .becomesponsor {
    margin-bottom: 3vh;
  }
  .popup {
    width: 100%;
    top: 0%;
  }
  .popup .popup-content {
    left: 30%;
    transform: translate(-17%, -20%);
  }
  .popup .popup-content #close-popup {
    transform: translate(60%, -470%);
  }
}
@media (max-width: 720px) {
  .popup {
    width: 100%;
    top: 0%;
  }
  .popup .popup-content #close-popup {
    transform: translate(60%, -470%);
  }
  .popup img {
    width: 400px;
  }
  .landing {
    min-height: 80vh;
  }
}
@media (max-width: 720px) {
  .popup {
    width: 100%;
    top: 0%;
  }
  .popup .popup-content #close-popup {
    transform: translate(60%, -470%);
  }
}
@media (max-width: 480px) {
  .popup {
    width: 100%;
  }
  .popup img {
    width: 300px;
  }
  .landing {
    background-attachment: scroll;
  }
  .main .subtitle {
    margin: auto 10vw;
  }
  .main .content {
    flex-direction: column;
  }
  .main .content i {
    margin-top: 2rem;
  }
  .sponsors {
    background-attachment: scroll;
  }
  .sponsors .container .swiper {
    width: 300px;
  }
  .quote-section {
    background-attachment: scroll;
  }
  .quote-section .title {
    border: 5px solid white;
  }
  .contact-us .content {
    flex-direction: column;
    padding: none;
  }
  .contact-us .title {
    margin: 0;
  }
}
@media (max-width: 486px) {
  .popup {
    width: 100%;
    top: 0%;
  }
  .popup .popup-content {
    left: 20%;
    transform: translate(-7%, -20%);
  }
  .popup .popup-content #close-popup {
    transform: translate(60%, -440%);
  }
}
@media (max-width: 428px) {
  .popup {
    width: 100%;
    top: 0%;
  }
  .popup .popup-content {
    left: 10%;
    transform: translate(-5%, -20%);
  }
  .popup .popup-content #close-popup {
    transform: translate(60%, -430%);
  }
}
@media (max-width: 382px) {
  .popup {
    width: 100%;
    top: 0%;
  }
  .popup .popup-content {
    left: 0%;
    transform: translate(0%, -20%);
  }
  .popup .popup-content #close-popup {
    transform: translate(50%, -440%);
  }
}
@media (max-width: 345px) {
  .popup {
    width: 100%;
    top: 0%;
  }
  .popup .popup-content {
    left: -10%;
    transform: translate(5%, -20%);
  }
  .popup .popup-content #close-popup {
    transform: translate(20%, -440%);
  }
}
@media (max-width: 316px) {
  .popup {
    width: 100%;
    top: 0%;
  }
  .popup .popup-content {
    left: -11%;
    transform: translate(5%, -21%);
  }
  .popup .popup-content #close-popup {
    transform: translate(30%, -550%);
  }
}
@media (max-height: 900px) {
  .popup {
    width: 100%;
    top: 0%;
  }
  .popup .popup-content #close-popup {
    transform: translate(60%, -420%);
  }
}
@media (max-height: 750px) {
  .popup {
    width: 100%;
    top: 0%;
  }
  .popup .popup-content #close-popup {
    transform: translate(60%, -380%);
  }
}
@media (max-height: 520px) {
  .popup {
    width: 100%;
    top: 0%;
  }
  .popup .popup-content #close-popup {
    transform: translate(60%, -340%);
  }
}/*# sourceMappingURL=index.css.map */