@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
.navbar {
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.navbar .icons {
  display: flex;
  gap: 2vw;
}
.navbar .icons i {
  font-size: 32px;
  color: white;
  transition: transform 100ms ease-in, color 100ms ease-in;
}
.navbar .icons i:hover {
  transform: translateY(-2px) scale(1.05);
  color: rgb(250, 200, 0);
}
.navbar .icons a img {
  height: 88px;
  width: auto;
  margin: 3px 2vw 0 0;
}
.navbar .icons a .home:hover {
  border: 1px solid white;
}
.navbar .icons a .invert {
  filter: invert(1);
}
.navbar .icons a .invert:hover {
  border: 1px solid black;
}
.navbar .nav-menu {
  display: flex;
  gap: 2vw;
  align-items: center;
  text-align: center;
}
.navbar .nav-menu .nav-item {
  text-decoration: none;
  position: relative;
  color: white;
  font-size: 24px;
  font-weight: 300;
}
.navbar .nav-menu .nav-item::after {
  content: "";
  width: 0%;
  height: 1px;
  transition: width 200ms ease-in;
  background-color: white;
  position: absolute;
  top: 31px;
  left: 1px;
}
.navbar .nav-menu .nav-item:hover::after {
  width: 100%;
}
.navbar .nav-menu #donate {
  background-color: rgb(250, 200, 0);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-transform: uppercase;
}
.navbar .nav-menu #donate::after {
  display: none;
}
.navbar .nav-menu #donate:hover {
  box-shadow: 0px 2px 10px 1px rgb(250, 200, 0);
}
.navbar .hamburger {
  display: none;
}
.navbar .hamburger .bar {
  display: block;
  width: 50px;
  height: 6px;
  margin: 10px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 0 8vw;
  }
  .navbar .nav-menu {
    position: fixed;
    right: -100%;
    top: 95px;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .navbar .nav-menu .nav-item {
    padding: 1rem 8vw;
  }
  .navbar .nav-menu .nav-item::after {
    display: none;
  }
  .navbar .nav-menu .nav-item:hover {
    font-weight: 600;
  }
  .navbar .nav-menu #donate {
    padding: 1rem 0;
    width: 100%;
    border-radius: 0;
    background-color: rgba(250, 200, 0, 0.8);
  }
  .navbar .nav-menu #donate:hover {
    box-shadow: 0px 2px 10px 1px rgba(250, 200, 0, 0.8);
  }
  .navbar .nav-menu.active {
    right: 0;
  }
  .navbar .hamburger {
    display: block;
    cursor: pointer;
  }
  .navbar .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .navbar .hamburger.active .bar:nth-child(1) {
    transform: translateY(16px) rotate(45deg);
  }
  .navbar .hamburger.active .bar:nth-child(3) {
    transform: translateY(-16px) rotate(-45deg);
  }
}
.footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  padding: 2rem 1rem;
  background-color: rgb(60, 72, 88);
  color: white;
  font-size: 18px;
  margin-top: 2vw;
}
.footer .title {
  text-transform: uppercase;
  font-weight: 700;
}
.footer .content {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.footer .content a {
  color: white;
  font-size: 48px;
}
.footer .content a i {
  transition: transform 100ms ease-in, color 100ms ease-in;
}
.footer .content a i:hover {
  transform: translateY(-2px) scale(1.15);
  color: rgb(250, 200, 0);
}
.footer .copywrite {
  margin-top: 1rem;
  font-size: 16px;
}
.footer .copywrite .name {
  box-shadow: inset 0 -0.125rem 0 rgb(250, 200, 0);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  color: rgb(250, 200, 0);
  text-decoration: none;
  display: inline-block;
}
.footer .copywrite .name:hover {
  background-color: rgb(250, 200, 0);
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.landing {
  min-height: 90vh;
}
.landing .hero {
  text-align: center;
  color: rgb(60, 72, 88);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.landing .hero .title {
  margin-top: 20vh;
  font-size: clamp(2.5rem, 8vw, 4rem);
  font-weight: 700;
  color: rgb(60, 72, 88);
}
.landing .hero .subtitle {
  font-size: clamp(16px, 3vw, 18px);
  margin: 1vh 10vw 6vh;
  color: rgb(150, 150, 150);
  font-weight: 400;
}
.landing .hero .content {
  display: flex;
  justify-content: space-evenly;
  margin: 12vh 0;
}
.landing .hero .content i {
  font-size: 100px;
  color: rgb(250, 200, 0);
  transition: transform 200ms ease-in, color 200ms ease-in;
}
.landing .hero .content i:hover {
  transform: translateY(-7px) scale(1.1);
  color: rgb(250, 225, 125);
}
.landing .hero .content h3 {
  margin-top: 1rem;
  font-size: 24px;
  width: 120px;
}
.landing .hero .content p {
  font-size: 16px;
  margin: 0 auto;
  font-weight: 300;
  color: rgb(150, 150, 150);
}

.history {
  min-height: 100vh;
}
.history .header {
  background-image: url("ME/media/history-header.webp");
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: soft-light;
  padding: clamp(4rem, 10vw, 6rem) 0;
}
.history .header .title {
  font-size: clamp(2.5rem, 8vw, 4rem);
  font-weight: 700;
  text-align: center;
  color: white;
}
.history .content {
  display: flex;
  justify-content: center;
  gap: 2vw;
  margin: 2vw auto;
}
.history .content .section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.history .content .section .row {
  display: flex;
  align-items: flex-start;
  gap: 2vw;
  margin-bottom: 2vw;
}
.history .content .section .row img {
  width: 100%;
  width: clamp(200px, 16vw, 300px);
  height: auto;
}
.history .content .section .row #extra {
  display: none;
}
.history .content .section .subheader {
  display: flex;
  border-top: 10px solid rgb(60, 72, 88);
  border-bottom: 10px solid rgb(60, 72, 88);
}
.history .content .section .subheader img {
  width: 100%;
  width: clamp(200px, 24vw, 400px);
  height: auto;
}
.history .content .section .subheader .subtitle {
  font-size: clamp(16px, 3vw, 18px);
  font-weight: 700;
  color: rgb(60, 72, 88);
  line-height: 2vw;
  text-align: left;
  margin: auto 0 auto 2vw;
}
.history .content .section p {
  font-size: 16px;
  color: rgb(150, 150, 150);
  line-height: 1.5rem;
  font-weight: 400;
  margin-top: 2vw;
  text-align: left;
}
.history #text {
  max-width: clamp(20rem, 60vw, 60rem);
}

.projects {
  min-height: 100vh;
}
.projects .header {
  background-image: url("ME/media/projects-header.webp");
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: soft-light;
  padding: clamp(4rem, 10vw, 6rem) 0;
}
.projects .header .title {
  font-size: clamp(2.5rem, 8vw, 4rem);
  font-weight: 700;
  text-align: center;
  color: white;
}
.projects .content {
  margin: 2vw auto;
  width: clamp(40rem, 85vw, 50rem);
  text-align: center;
}
.projects .content .accordion {
  background-color: white;
  color: rgb(60, 72, 88);
  font-size: clamp(24px, 3vw, 40px);
  font-weight: 500;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.projects .content .active,
.projects .content .accordion:hover {
  background-color: lightgrey;
}
.projects .content .accordion:after {
  content: "+";
  font-size: clamp(24px, 3vw, 40px);
  color: rgb(60, 72, 88);
  float: right;
  margin-left: 5px;
}
.projects .content .active:after {
  content: "−";
}
.projects .content .panel {
  background-color: white;
  display: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.projects .content .panel img {
  width: clamp(40rem, 85vw, 50rem);
  height: auto;
}
.projects .content .panel p {
  font-size: 16px;
  color: rgb(150, 150, 150);
  line-height: 1.5rem;
  font-weight: 400;
  margin: 1vh 2vw 2vh;
}

.ATIA {
  min-height: 100vh;
}
.ATIA .header {
  background-image: url("ME/media/ATIA-header.webp");
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: soft-light;
  padding: clamp(4rem, 10vw, 6rem) 0;
}
.ATIA .header .title {
  font-size: clamp(2.5rem, 8vw, 4rem);
  font-weight: 700;
  text-align: center;
  color: white;
}
.ATIA .content {
  margin: 2vw auto;
  width: clamp(40rem, 85vw, 50rem);
  text-align: center;
}
.ATIA .content .subheader {
  font-size: clamp(16px, 3vw, 18px);
  font-weight: 700;
  color: rgb(60, 72, 88);
  line-height: 1.5rem;
  margin-bottom: 1vw;
}
.ATIA .content .subheader span {
  color: rgb(250, 200, 0);
}
.ATIA .content .accordion {
  background-color: white;
  color: rgb(60, 72, 88);
  font-size: clamp(24px, 3vw, 40px);
  font-weight: 500;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.ATIA .content .active,
.ATIA .content .accordion:hover {
  background-color: lightgrey;
}
.ATIA .content .accordion:after {
  content: "+";
  font-size: clamp(24px, 3vw, 40px);
  color: rgb(60, 72, 88);
  float: right;
  margin-left: 5px;
}
.ATIA .content .active:after {
  content: "−";
}
.ATIA .content .panel {
  background-color: white;
  display: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.ATIA .content .panel .images-2 {
  display: flex;
  gap: 0.5vw;
}
.ATIA .content .panel .images-2 img {
  width: clamp(20rem, 42.5vw, 25rem);
  height: auto;
}
.ATIA .content .panel .images-3 {
  display: flex;
  gap: 0.5vw;
}
.ATIA .content .panel .images-3 img {
  width: clamp(13.3333333333rem, 28.3333333333vw, 16.6666666667rem);
  height: auto;
}
.ATIA .content .panel p {
  font-size: 16px;
  color: rgb(150, 150, 150);
  line-height: 1.5rem;
  font-weight: 400;
  margin: 1vh 2vw 2vh;
}

.adapt-a-thon {
  min-height: 100vh;
}
.adapt-a-thon .header {
  background-image: url("ME/media/adapt-1.webp");
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: soft-light;
  padding: clamp(4rem, 10vw, 6rem) 0;
}
.adapt-a-thon .header .title {
  font-size: clamp(2.5rem, 8vw, 4rem);
  font-weight: 700;
  text-align: center;
  color: white;
}
.adapt-a-thon .content {
  margin: 2vw auto;
  width: clamp(40rem, 85vw, 50rem);
  text-align: center;
  display: flex;
  flex-direction: column;
}
.adapt-a-thon .content .subheader {
  font-size: clamp(16px, 3vw, 18px);
  font-weight: 700;
  color: rgb(60, 72, 88);
  line-height: 1.5rem;
  margin-bottom: 1vw;
}
.adapt-a-thon .content .images {
  display: flex;
  gap: 0.5vw;
}
.adapt-a-thon .content .images img {
  width: clamp(20rem, 42.5vw, 25rem);
  height: auto;
}
.adapt-a-thon .content .section {
  font-size: clamp(16px, 3vw, 18px);
  color: rgb(150, 150, 150);
  line-height: 1.5rem;
  font-weight: 400;
  margin: 2vh;
}

.contact-us {
  min-height: 100vh;
}
.contact-us .header {
  background-image: url("ME/media/contact-header.webp");
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: soft-light;
  padding: clamp(4rem, 10vw, 6rem) 0;
}
.contact-us .header .title {
  font-size: clamp(2.5rem, 8vw, 4rem);
  font-weight: 700;
  text-align: center;
  color: white;
}
.contact-us .content {
  margin: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}
.contact-us .content iframe {
  width: 100%;
  width: 700px;
  height: 850px;
}
.contact-us .content .subtitle {
  width: 500px;
  font-size: clamp(16px, 3vw, 18px);
  font-weight: 400;
  color: rgb(60, 72, 88);
}
.contact-us .content .subtitle li {
  margin-bottom: 1rem;
}

@media (max-width: 1600px) {
  .history .content .section .row {
    flex-direction: column;
  }
  .history .content .subheader .subtitle {
    line-height: normal;
  }
}
@media (max-width: 720px) {
  .landing {
    min-height: 80vh;
  }
  .landing .hero .title {
    margin-top: 12vh;
  }
  .landing .hero .content {
    margin: -2vh auto 2vh;
    width: 400px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4vw;
  }
  .history .content {
    flex-direction: column-reverse;
  }
  .history .content .section {
    justify-content: flex-start;
  }
  .history .content .section .row {
    flex-direction: row;
    margin: 0 auto;
  }
  .history .content .section .row #extra {
    display: block;
  }
  .history .content .section .row #long {
    display: none;
  }
  .history .content .section .subheader {
    padding: 2vw;
  }
  .history .content .section .subheader img {
    display: none;
  }
  .history .content .section .subheader .subtitle {
    line-height: normal;
  }
  .history .content #text {
    max-width: 420px;
    margin: 0 auto;
  }
  .projects .content {
    width: 400px;
  }
  .projects .content .panel img {
    width: 400px;
  }
  .ATIA .content {
    width: 400px;
  }
  .ATIA .content .panel .images-2 img {
    width: 200px;
    height: auto;
  }
  .adapt-a-thon .content {
    width: 400px;
  }
  .adapt-a-thon .content .images img {
    width: 200px;
    height: auto;
  }
  .contact-us .content {
    flex-direction: column-reverse;
    text-align: center;
  }
  .contact-us .content .subtitle {
    max-width: 400px;
  }
  .contact-us .content iframe {
    width: 400px;
  }
  .contact-us .content li {
    list-style: none;
  }
}
@media (max-width: 480px) {
  .landing .hero .content {
    flex-direction: column;
    width: 300px;
    margin-top: -2rem;
  }
  .landing .hero .content h3 {
    margin: 0 auto;
  }
  .history .header {
    background-attachment: scroll;
  }
  .history .content .section .row img {
    width: 150px;
  }
  .history .content .section .subheader .subtitle {
    text-align: center;
  }
  .history .content .section p {
    text-align: center;
  }
  .history .content #text {
    max-width: 300px;
  }
  .projects .content {
    width: 320px;
  }
  .projects .content .accordion {
    font-size: 20px;
  }
  .projects .content .panel img {
    width: 320px;
  }
  .ATIA .content {
    width: 320px;
  }
  .ATIA .content .accordion {
    font-size: 20px;
  }
  .ATIA .content .panel .images-2 img,
  .ATIA .content .panel .images-3 img {
    width: 160px;
    height: auto;
  }
  .adapt-a-thon .content {
    width: 320px;
  }
  .adapt-a-thon .content .images img {
    width: 160px;
    height: auto;
  }
  .contact-us .content .subtitle {
    max-width: 320px;
  }
  .contact-us .content iframe {
    width: 320px;
  }
}/*# sourceMappingURL=ME.css.map */