@import "../landing-page/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  // border: 2px solid red;
}

.landing {
  background-image: url("");
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  background-color: hsla(0, 0%, 0%, 0.5);
  background-blend-mode: soft-light;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: $text;
  background-color: hsla(0, 0%, 0%, 0.8);
  top: 0;
  left: 0;
  right: 0;
  gap: 5rem;

  img {
    padding: 25px;
    height: auto;
    width: 200px;
    filter: invert(1);
  }

  .links {
    text-decoration: none;
    position: relative;
    color: $text;
    font-weight: 350;
    font-size: 20px;

    &::after {
      content: "";
      width: 0%;
      height: 1px;
      transition: width 200ms ease-in;
      background-color: $text;
      position: absolute;
      top: 29px;
      left: 0;
    }

    &:hover::after {
      width: 100%;
    }
  }

  .donate {
    background-color: $yellow;
    padding: 0.5em 1em;
    border-radius: 4px;
    text-transform: uppercase;

    &::after {
      display: none;
    }

    &:hover {
      box-shadow: 0px 2px 10px 1px $yellow;
    }
  }
}

.main {
  text-align: center;
  margin: 5rem;
  display: flex;
  flex-direction: column;
  color: $black;
  font-family: "Roboto Slab", serif;
  min-height: 67vh;

  .title {
    font-size: 5rem;
    font-weight: 700;
    color: $black;
  }

  .subtitle {
    font-size: 18px;
    margin: 1rem 15rem 7rem;
    color: $lightgray;
    font-weight: 400;
  }

  .content {
    display: flex;
    justify-content: space-evenly;

    i {
      font-size: 100px;
      color: $yellow;
      transition: transform 200ms ease-in, color 200ms ease-in;

      &:hover {
        transform: translateY(-7px) scale(1.1);
        color: hsl(43, 100%, 75%);
      }
    }

    h3 {
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: 1.5rem;
      font-weight: 700;
      font-family: "Roboto Slab", serif;
    }

    p {
      line-height: 1.5rem;
      font-size: 1rem;
      max-width: 50ch;
      margin: 0 auto;
      font-weight: 300;
      color: $lightgray;
    }
  }
}

.quote-section {
  background-image: url("ME-background.png");
  background-position: bottom;
  background-attachment: fixed;
  background-color: hsla(0, 0%, 0%, 0.4);
  background-blend-mode: soft-light;
  padding: 6rem;

  .title {
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    color: $text;
    margin: 0 auto;
  }
}

.summer-camps {
  display: flex;
  position: relative;
  color: $text;
  font-family: "Roboto Slab", serif;
  padding: 3rem 3rem 0;

  img {
    width: 100%;
    width: 300px;
    height: auto;
    margin: 1rem;
  }

  .images-2 {
    margin-top: 6rem;
  }

  .content {
    margin: auto 6rem;
    border-bottom: 12px solid $black;

    .header {
      display: flex;
      margin: auto 0;
      border-bottom: 12px solid $black;
      gap: 3rem;

      img {
        width: 100%;
        width: 400px;
        height: auto;
        padding: 0;
        margin: 0;
      }

      .subtitle {
        font-size: 1.25rem;
        font-weight: 700;
        color: $black;
        line-height: 1.75rem;
        color: $black;
        text-align: left;
        margin: auto 0;
      }
    }

    p {
      font-size: 18px;
      font-weight: 400;
      color: $lightgray;
      margin: 2rem 0;
      text-align: left;
    }
  }
}

.contact-us {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: $black;
  margin: 2rem;

  .title {
    font-size: 4rem;
    font-weight: 700;
    color: $black;
  }

  .subtitle {
    font-size: 18px;
    font-weight: 400;
    color: $lightgray;

    p {
      margin: 0 15rem 1rem;
    }
  }

  .content {
    margin-bottom: 5rem;
  }
}

@media (max-width: 770px) {
  .nav {
    .links {
      display: none;
    }

    .bars {
      display: block;
    }
  }

  .content-sections {
    flex-direction: column;
    gap: 4rem;
  }

  .quote-section {
    padding: 2.5em 1.5em;

    .title {
      padding: 10px 20px;
      margin: 0;
    }
  }
}
