@import "../variables";
@import "../navbar";
@import "../footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  // border: 1px solid red;
}

html {
  scroll-behavior: smooth;
}

.landing {
  min-height: 90vh;

  .hero {
    text-align: center;
    color: $secondary;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .title {
      margin-top: 20vh;
      font-size: $title;
      font-weight: 700;
      color: $secondary;
    }

    .subtitle {
      font-size: $subtitle;
      margin: 1vh 10vw 6vh;
      color: $tertiary;
      font-weight: 400;
    }

    .content {
      display: flex;
      justify-content: space-evenly;
      margin: 12vh 0;

      i {
        font-size: $icon;
        color: $decoration;
        transition: transform 200ms ease-in, color 200ms ease-in;

        &:hover {
          transform: translateY(-7px) scale(1.1);
          color: $light-dec;
        }
      }

      h3 {
        margin-top: 1rem;
        font-size: $subheader;
        width: 120px;
      }

      p {
        font-size: $body;
        margin: 0 auto;
        font-weight: 300;
        color: $tertiary;
      }
    }
  }
}

.history {
  min-height: 100vh;
  .header {
    background-image: url("/ME/media/history-header.webp");
    background-position: center;
    background-size: cover;
    background-color: $background;
    background-blend-mode: soft-light;
    padding: clamp(4rem, 10vw, 6rem) 0;

    .title {
      font-size: $title;
      font-weight: 700;
      text-align: center;
      color: $primary;
    }
  }

  .content {
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin: 2vw auto;

    .section {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .row {
        display: flex;
        align-items: flex-start;
        gap: 2vw;
        margin-bottom: 2vw;

        img {
          width: 100%;
          width: clamp(200px, 16vw, 300px);
          height: auto;
        }

        #extra {
          display: none;
        }
      }

      .subheader {
        display: flex;
        border-top: 10px solid $secondary;
        border-bottom: 10px solid $secondary;

        img {
          width: 100%;
          width: clamp(200px, 24vw, 400px);
          height: auto;
        }

        .subtitle {
          font-size: $subtitle;
          font-weight: 700;
          color: $secondary;
          line-height: 2vw;
          text-align: left;
          margin: auto 0 auto 2vw;
        }
      }

      p {
        font-size: $body;
        color: $tertiary;
        line-height: 1.5rem;
        font-weight: 400;
        margin-top: 2vw;
        text-align: left;
      }
    }
  }

  #text {
    max-width: clamp(20rem, 60vw, 60rem);
  }
}

.projects {
  min-height: 100vh;
  .header {
    background-image: url("/ME/media/projects-header.webp");
    background-position: center;
    background-size: cover;
    background-color: $background;
    background-blend-mode: soft-light;
    padding: clamp(4rem, 10vw, 6rem) 0;

    .title {
      font-size: $title;
      font-weight: 700;
      text-align: center;
      color: $primary;
    }
  }

  .content {
    margin: 2vw auto;
    width: clamp(40rem, 85vw, 50rem);
    text-align: center;

    .accordion {
      background-color: $primary;
      color: $secondary;
      font-size: $header;
      font-weight: 500;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      text-align: left;
      border: none;
      outline: none;
      transition: 0.4s;
    }

    .active,
    .accordion:hover {
      background-color: $light-tert;
    }

    .accordion:after {
      content: "\002B";
      font-size: $header;
      color: $secondary;
      float: right;
      margin-left: 5px;
    }

    .active:after {
      content: "\2212";
    }

    .panel {
      background-color: $primary;
      display: none;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;

      img {
        width: clamp(40rem, 85vw, 50rem);
        height: auto;
      }

      p {
        font-size: $body;
        color: $tertiary;
        line-height: 1.5rem;
        font-weight: 400;
        margin: 1vh 2vw 2vh;
      }
    }
  }
}

.ATIA {
  min-height: 100vh;
  .header {
    background-image: url("/ME/media/ATIA-header.webp");
    background-position: center;
    background-size: cover;
    background-color: $background;
    background-blend-mode: soft-light;
    padding: clamp(4rem, 10vw, 6rem) 0;

    .title {
      font-size: $title;
      font-weight: 700;
      text-align: center;
      color: $primary;
    }
  }

  .content {
    margin: 2vw auto;
    width: clamp(40rem, 85vw, 50rem);
    text-align: center;

    .subheader {
      font-size: $subtitle;
      font-weight: 700;
      color: $secondary;
      line-height: 1.5rem;
      margin-bottom: 1vw;

      span {
        color: $decoration;
      }
    }

    .accordion {
      background-color: $primary;
      color: $secondary;
      font-size: $header;
      font-weight: 500;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      text-align: left;
      border: none;
      outline: none;
      transition: 0.4s;
    }

    .active,
    .accordion:hover {
      background-color: $light-tert;
    }

    .accordion:after {
      content: "\002B";
      font-size: $header;
      color: $secondary;
      float: right;
      margin-left: 5px;
    }

    .active:after {
      content: "\2212";
    }

    .panel {
      background-color: $primary;
      display: none;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;

      .images-2 {
        display: flex;
        gap: 0.5vw;

        img {
          width: clamp(40rem / 2, 85vw / 2, 50rem / 2);
          height: auto;
        }
      }

      .images-3 {
        display: flex;
        gap: 0.5vw;

        img {
          width: clamp(40rem / 3, 85vw / 3, 50rem / 3);
          height: auto;
        }
      }

      p {
        font-size: $body;
        color: $tertiary;
        line-height: 1.5rem;
        font-weight: 400;
        margin: 1vh 2vw 2vh;
      }
    }
  }
}

.adapt-a-thon {
  min-height: 100vh;
  .header {
    background-image: url("/ME/media/adapt-1.webp");
    background-position: center;
    background-size: cover;
    background-color: $background;
    background-blend-mode: soft-light;
    padding: clamp(4rem, 10vw, 6rem) 0;

    .title {
      font-size: $title;
      font-weight: 700;
      text-align: center;
      color: $primary;
    }
  }

  .content {
    margin: 2vw auto;
    width: clamp(40rem, 85vw, 50rem);
    text-align: center;
    display: flex;
    flex-direction: column;

    .subheader {
      font-size: $subtitle;
      font-weight: 700;
      color: $secondary;
      line-height: 1.5rem;
      margin-bottom: 1vw;
    }

    .images {
      display: flex;
      gap: 0.5vw;

      img {
        width: clamp(40rem / 2, 85vw / 2, 50rem / 2);
        height: auto;
      }
    }

    .section {
      font-size: $subtitle;
      color: $tertiary;
      line-height: 1.5rem;
      font-weight: 400;
      margin: 2vh;
    }
  }
}

.contact-us {
  min-height: 100vh;
  .header {
    background-image: url("/ME/media/contact-header.webp");
    background-position: center;
    background-size: cover;
    background-color: $dark-backround;
    background-blend-mode: soft-light;
    padding: clamp(4rem, 10vw, 6rem) 0;

    .title {
      font-size: $title;
      font-weight: 700;
      text-align: center;
      color: $primary;
    }
  }

  .content {
    margin: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;

    iframe {
      width: 100%;
      width: 700px;
      height: 850px;
    }

    .subtitle {
      width: 500px;
      font-size: $subtitle;
      font-weight: 400;
      color: $secondary;

      li {
        margin-bottom: 1rem;
      }
    }
  }
}

@media (max-width: 1600px) {
  .history {
    .content {
      .section {
        .row {
          flex-direction: column;
        }
      }

      .subheader {
        .subtitle {
          line-height: normal;
        }
      }
    }
  }
}

@media (max-width: 720px) {
  .landing {
    min-height: 80vh;

    .hero {
      .title {
        margin-top: 12vh;
      }

      .content {
        margin: -2vh auto 2vh;
        width: 400px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4vw;
      }
    }
  }

  .history {
    .content {
      flex-direction: column-reverse;
      .section {
        justify-content: flex-start;
        .row {
          flex-direction: row;
          margin: 0 auto;
          #extra {
            display: block;
          }
          #long {
            display: none;
          }
        }

        .subheader {
          padding: 2vw;

          img {
            display: none;
          }

          .subtitle {
            line-height: normal;
          }
        }
      }
      #text {
        max-width: 420px;
        margin: 0 auto;
      }
    }
  }

  .projects {
    .content {
      width: 400px;

      .panel {
        img {
          width: 400px;
        }
      }
    }
  }

  .ATIA {
    .content {
      width: 400px;

      .panel {
        .images-2 {
          img {
            width: 200px;
            height: auto;
          }
        }
      }
    }
  }

  .adapt-a-thon {
    .content {
      width: 400px;

      .images {
        img {
          width: 200px;
          height: auto;
        }
      }
    }
  }

  .contact-us {
    .content {
      flex-direction: column-reverse;
      text-align: center;

      .subtitle {
        max-width: 400px;
      }

      iframe {
        width: 400px;
      }

      li {
        list-style: none;
      }
    }
  }
}

@media (max-width: 480px) {
  .landing {
    .hero {
      .content {
        flex-direction: column;
        width: 300px;
        margin-top: -2rem;

        h3 {
          margin: 0 auto;
        }
      }
    }
  }

  .history {
    .header {
      background-attachment: scroll;
    }
    .content {
      .section {
        .row {
          img {
            width: 150px;
          }
        }
        .subheader {
          .subtitle {
            text-align: center;
          }
        }
        p {
          text-align: center;
        }
      }
      #text {
        max-width: 300px;
      }
    }
  }

  .projects {
    .content {
      width: 320px;

      .accordion {
        font-size: $subheader - 4px;
      }

      .panel {
        img {
          width: 320px;
        }
      }
    }
  }

  .ATIA {
    .content {
      width: 320px;

      .accordion {
        font-size: $subheader - 4px;
      }

      .panel {
        .images-2,
        .images-3 {
          img {
            width: 160px;
            height: auto;
          }
        }
      }
    }
  }

  .adapt-a-thon {
    .content {
      width: 320px;

      .images {
        img {
          width: 160px;
          height: auto;
        }
      }
    }
  }

  .contact-us {
    .content {
      .subtitle {
        max-width: 320px;
      }

      iframe {
        width: 320px;
      }
    }
  }
}
