@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.landing {
  background-image: url("outreach-1.JPG");
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  background-color: hsla(0deg, 0%, 0%, 0.5);
  background-blend-mode: soft-light;
}
.landing .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(0deg, 0%, 0%, 0.8);
  gap: 2vw;
}
.landing .navbar img {
  max-width: 100%;
  padding: 10px;
  height: 100px;
  width: auto;
  filter: invert(1);
}
.landing .navbar .home:hover {
  border: 1px solid black;
}
.landing .navbar .links {
  text-decoration: none;
  position: relative;
  color: white;
  font-weight: 300;
  font-size: 20px;
}
.landing .navbar .links::after {
  content: "";
  width: 0%;
  height: 1px;
  transition: width 200ms ease-in;
  background-color: white;
  position: absolute;
  top: 29px;
  left: 0;
}
.landing .navbar .links:hover::after {
  width: 100%;
}
.landing .navbar .donate {
  background-color: hsl(45deg, 100%, 50%);
  padding: 0.5em 1em;
  border-radius: 4px;
  text-transform: uppercase;
}
.landing .navbar .donate::after {
  display: none;
}
.landing .navbar .donate:hover {
  box-shadow: 0px 2px 10px 1px hsl(45deg, 100%, 50%);
}
.landing .hero .title {
  color: white;
  font-size: clamp(2.5rem, 8vw, 4rem);
  font-weight: 700;
  text-align: center;
  padding: clamp(4rem, 10vw, 6rem) 0;
}

.main {
  margin: 2vw auto;
  width: clamp(40rem, 85vw, 50rem);
  font-size: clamp(16px, 3vw, 18px);
  color: rgb(60, 72, 88);
  font-weight: 500;
  text-align: center;
}
.main .section {
  margin: 2vw auto;
}
.main .section .header {
  font-size: clamp(2.5rem, 8vw, 4rem);
  font-weight: 400;
  background-color: rgb(150, 150, 150);
  color: white;
  padding: 0.25vw;
}
.main .section .content {
  display: flex;
  background-color: lightgray;
}
.main .section .content img {
  width: clamp(20rem, 42.5vw, 25rem);
  height: auto;
}
.main .section .content p {
  font-weight: 400;
  font-size: 16px;
  color: black;
  margin: auto auto;
  padding: 1vh 2vw;
}
.main .section .content ul {
  margin: auto auto;
  text-align: left;
}
.main .section .content li {
  font-weight: 400;
  font-size: 16px;
  color: rgb(150, 150, 150);
}

@media (max-width: 720px) {
  .landing .navbar {
    padding: 12px 6px;
  }
  .landing .navbar .links {
    font-size: 14px;
  }
  .landing .navbar .links::after {
    display: none;
  }
  .landing .navbar img {
    height: 50px;
    padding: 0;
  }
  .main {
    width: 400px;
  }
  .main .section .content {
    flex-direction: column;
  }
  .main .section .content img {
    width: 400px;
  }
  .main .section .content p {
    padding: 2vw;
  }
  .main .section #even {
    flex-direction: column-reverse;
  }
}
@media (max-width: 480px) {
  .landing {
    background-attachment: scroll;
  }
  .landing .navbar {
    padding: 1rem;
  }
  .landing .navbar img {
    display: none;
  }
  .main {
    width: 300px;
  }
  .main .section .content img {
    width: 300px;
  }
}/*# sourceMappingURL=subteams.css.map */