@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.landing {
  background-image: url("subteams-background.jpg");
  background-position: center;
  background-size: cover;
  background-color: hsla(0deg, 0%, 0%, 0.5);
  background-blend-mode: soft-light;
}
.landing .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(0deg, 0%, 0%, 0.8);
  gap: 2vw;
}
.landing .navbar img {
  max-width: 100%;
  padding: 10px;
  height: 100px;
  width: auto;
  filter: invert(1);
}
.landing .navbar .links {
  text-decoration: none;
  position: relative;
  color: white;
  font-weight: 300;
  font-size: 20px;
}
.landing .navbar .links::after {
  content: "";
  width: 0%;
  height: 1px;
  transition: width 200ms ease-in;
  background-color: white;
  position: absolute;
  top: 29px;
  left: 0;
}
.landing .navbar .links:hover::after {
  width: 100%;
}
.landing .navbar .donate {
  background-color: hsl(45deg, 100%, 50%);
  padding: 0.5em 1em;
  border-radius: 4px;
  text-transform: uppercase;
}
.landing .navbar .donate::after {
  display: none;
}
.landing .navbar .donate:hover {
  box-shadow: 0px 2px 10px 1px hsl(45deg, 100%, 50%);
}
.landing .hero .title {
  color: white;
  font-size: clamp(2.5rem, 10vw, 4rem);
  font-weight: 700;
  text-align: center;
  padding: clamp(4rem, 10vw, 6rem) 0;
}

body {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.main {
  display: flex;
  margin: 0;
  flex-direction: column;
}
.main .header {
  max-width: 60%;
  margin-bottom: 0;
  padding: 1rem;
  width: 60%;
  text-align: center;
  align-self: center;
  font-size: 18px;
  color: rgb(60, 72, 88);
  font-weight: 500;
}

.projects {
  margin-top: 2rem;
}
.projects .header {
  color: rgb(60, 72, 88);
  font-size: clamp(2.5rem, 10vw, 4rem);
  font-weight: 500;
  text-align: center;
}
.projects .content {
  margin: 2vw auto;
  text-align: center;
  width: clamp(3rem, 85vw, 50rem);
}
.projects .content img {
  width: 25rem;
}
.projects img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 25rem;
  height: 15rem;
}
.projects p {
  font-weight: 400;
  font-size: 16px;
  color: rgb(150, 150, 150);
}
.projects .business {
  display: flex;
  gap: 2rem;
}
.projects .business p {
  text-align: center;
}
.projects .media,
.projects .wiring {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
}
.projects .media .section,
.projects .wiring .section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}
.projects .media .section .row,
.projects .wiring .section .row {
  align-self: center;
}
.projects .media .section .row p,
.projects .wiring .section .row p {
  display: none;
}
.projects .media .section .row img,
.projects .wiring .section .row img {
  flex-direction: column;
}
.projects .media .section .list,
.projects .wiring .section .list {
  width: 45rem;
  text-align: left;
}
.projects .media .section .list p,
.projects .wiring .section .list p {
  margin-top: -1.2rem;
  margin-left: 1.25rem;
}

@media (max-width: 720px) {
  .landing .navbar {
    padding: 12px 6px;
  }
  .landing .navbar .links {
    font-size: 14px;
  }
  .landing .navbar .links::after {
    display: none;
  }
  .landing .navbar img {
    height: 50px;
    padding: 0;
  }
  .projects .business {
    align-items: center;
    flex-direction: column;
    font-size: 14px;
  }
  .projects .business img {
    width: 30rem;
    align-self: center;
  }
  .projects .media .section {
    flex-direction: column;
  }
  .projects .media .section img {
    width: 60vw;
  }
  .projects .media .section .list {
    width: 15rem;
  }
  .projects .wiring .section p {
    display: none;
  }
  .projects .wiring .section .row p {
    display: block;
  }
}
@media (max-width: 480px) {
  .landing {
    background-attachment: scroll;
  }
  .landing .navbar {
    padding: 1rem;
  }
  .landing .navbar img {
    display: none;
  }
  .landing .main {
    width: 100%;
  }
  .landing .main .header {
    max-width: 100%;
    width: 100%;
  }
  .landing .hero .content {
    flex-direction: column;
    margin: -4rem 0 0 0;
  }
  .landing .hero .content i {
    margin-top: 2rem;
  }
  .projects img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 250px;
    height: 250px;
  }
  .projects .business {
    font-size: 14px;
  }
  .projects .programming img,
.projects .wiring img,
.projects .business img,
.projects .outreach img,
.projects .manufacturing img,
.projects .design img {
    width: 60vw;
    height: 60vw;
  }
}/*# sourceMappingURL=subteams.css.map */