@import "../variables";
@import "../navbar";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  // border: 1px solid red;
}

.landing {
  background-image: url("/subteams/media/outreach-1.webp");
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  background-color: hsla(0, 0%, 0%, 0.5);
  background-blend-mode: soft-light;

  .hero {
    padding-top: 12vh;

    .title {
      color: $primary;
      font-size: $title;
      font-weight: 700;
      text-align: center;
      padding: clamp(4rem, 10vw, 6rem) 0;
    }
  }
}

.main {
  margin: 2vw auto;
  width: clamp(40rem, 85vw, 50rem);
  font-size: $subtitle;
  color: $secondary;
  font-weight: 500;
  text-align: center;

  .section {
    margin: 2vw auto;

    .header {
      font-size: $title;
      font-weight: 400;
      background-color: $tertiary;
      color: $primary;
      padding: 0.25vw;
    }

    .content {
      display: flex;
      background-color: lightgray;

      img {
        width: clamp(40rem / 2, 85vw / 2, 50rem / 2);
        height: auto;
      }

      p {
        font-weight: 400;
        font-size: $body;
        color: black;
        margin: auto auto;
        padding: 1vh 2vw;
      }

      ul {
        margin: auto auto;
        text-align: left;
      }

      li {
        font-weight: 400;
        font-size: $body;
        color: $tertiary;
      }
    }
  }
}

@media (max-width: 720px) {
  .main {
    width: 400px;

    .section {
      .content {
        flex-direction: column;

        img {
          width: 400px;
        }

        p {
          padding: 2vw;
        }
      }

      #even {
        flex-direction: column-reverse;
      }
    }
  }
}

@media (max-width: 480px) {
  .landing {
    background-attachment: scroll;
  }

  .main {
    width: 300px;

    .section {
      .content {
        img {
          width: 300px;
        }
      }
    }
  }
}
